.number {
    text-align: right;
}

.thead {
    background-color: #272727;
}

.small {
    font-size: 80%;
    font-style: italic;
}

.population-decrease {
    color: red;
}

.population-increase {
    color: lime;
}