<div class="overwatch-content-container">
    <div class="overwatch-content-large" *ngIf="starSystem">
        <div class="title">
            {{ starSystem.Name }}
            <fa-icon [icon]="faClipboard" matTooltip="Copy to clipboard" class="clickable"
                (click)="copySystemName()"></fa-icon>
        </div>
        <div class="content-box">
            <div class="content-flex">
                <table class="information">
                    <tbody>
                        <tr>
                            <td class="t">Maelstrom</td>
                            <td>
                                <app-maelstrom-name [maelstrom]="starSystem.Maelstrom"></app-maelstrom-name>
                                <span *ngIf="starSystem.DistanceToMaelstrom">
                                    ({{ starSystem.DistanceToMaelstrom }} Ly)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">Thargoid State</td>
                            <td>
                                <app-thargoid-level [thargoidLevel]="starSystem.ThargoidLevel"></app-thargoid-level>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">Remaining time</td>
                            <td>
                                <div *ngIf="starSystem.StateExpiration?.StateExpires">
                                    {{ starSystem.StateExpiration?.StateExpires | dateAgo }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="information">
                    <tbody>
                        <tr>
                            <td class="t">Population</td>
                            <td class="number">
                                <div>
                                    {{ starSystem.Population | number }}
                                </div>
                                <div class="small" *ngIf="starSystem.Population != starSystem.PopulationOriginal"
                                    [ngClass]="{
                                  'population-decrease': (starSystem.Population < starSystem.PopulationOriginal),
                                  'population-increase': (starSystem.Population > starSystem.PopulationOriginal)
                                }">
                                    {{ (starSystem.Population - starSystem.PopulationOriginal) | number }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">Player Focus</td>
                            <td class="number">
                                {{ starSystem.EffortFocus | percent }}
                            </td>
                        </tr>
                        <tr *ngIf="starSystem.ProgressPercent">
                            <td class="t">Progress</td>
                            <td class="number">
                                {{ starSystem.ProgressPercent | percent }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="information hide-on-mobile">
                    <b>External links</b>
                    <br>
                    <a href="https://inara.cz/elite/starsystem/?search={{ encodeUrlPart(starSystem.Name) }}"
                        target="_blank" rel="noreferrer">
                        Inara
                    </a>
                    <br>
                    <a href="https://www.edsm.net/en/system?systemID64={{ starSystem.SystemAddress }}" target="_blank"
                        rel="noreferrer">
                        EDSM
                    </a>
                    <a href="https://eddb.io/system/name/{{ encodeUrlPart(starSystem.Name) }}" target="_blank"
                        rel="noreferrer">
                        EDDB
                    </a>
                </div>
            </div>
            <br>
            <div *ngIf="lineChartData && lineChartData.labels && lineChartData.labels.length">
                <canvas baseChart class="chart" [data]="lineChartData" [options]="lineChartOptions"
                    [type]="lineChartType" height="300"></canvas>
            </div>
            <br>
            <br>
            <mat-tab-group>
                <mat-tab label="Stations ({{ starSystem.Stations.length }})">
                    <app-system-stations [starSystem]="starSystem"></app-system-stations>
                </mat-tab>
                <mat-tab label="Operations ({{ starSystem.FactionOperationDetails.length }})">
                    <app-system-operations [starSystem]="starSystem"></app-system-operations>
                </mat-tab>
                <mat-tab label="Contributions">
                    <app-system-contributions [starSystem]="starSystem"></app-system-contributions>
                </mat-tab>
                <mat-tab label="History">
                    <app-system-history [starSystem]="starSystem"></app-system-history>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>