.number {
    text-align: right;
}

.thead {
    background-color: #272727;
}

.small {
    font-size: 80%;
    font-style: italic;
}

.population-decrease {
    color: red;
}

.population-increase {
    color: lime;
}

.feature-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.feature {
    display: flex;
    align-items: center;
}

.progress-cell {
    display: flex;
    justify-content: flex-end;
}

.progress-locked {
    width: 12px;
    color: red;
    margin-left: 8px;
}