.number {
    text-align: right;
}

.thead {
    background-color: #272727;
}

.small {
    font-size: 80%;
    font-style: italic;
}

.population-decrease {
    color: red;
}

.population-increase {
    color: lime;
}

.feature-icon {
    width: 20px;
    height: 20px;
}

.feature {
    display: flex;
    align-items: center;
    column-gap: 4px
}

.progress-cell {
    display: flex;
    justify-content: flex-end;
}

.progress-locked {
    width: 12px;
    color: red;
    margin-left: 8px;
}

.multi-icon {
    position: relative;
    width: 20px;
    height: 20px;

    img,
    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        opacity: 0.5;
    }
}

.icon-red {
    color: red;
}