<div class="overwatch-content-container">
    <div class="overwatch-content-large" *ngIf="starSystem">
        <div class="title">
            {{ starSystem.Name }}
            <fa-icon [icon]="faClipboard" matTooltip="Copy to clipboard" class="clickable"
                (click)="copySystemName()"></fa-icon>
        </div>
        <div class="content-box">
            <div class="content-flex">
                <table class="information">
                    <tbody>
                        <tr>
                            <td class="t">Titan</td>
                            <td>
                                <app-maelstrom-name [maelstrom]="starSystem.Maelstrom"></app-maelstrom-name>
                                <span *ngIf="starSystem.DistanceToMaelstrom">
                                    ({{ starSystem.DistanceToMaelstrom | number:'0.2-2' }} Ly)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">Thargoid State</td>
                            <td>
                                <app-thargoid-level [thargoidLevel]="starSystem.ThargoidLevel"></app-thargoid-level>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">Remaining time</td>
                            <td>
                                <div *ngIf="starSystem.StateExpiration?.StateExpires">
                                    {{ starSystem.StateExpiration?.StateExpires | dateAgo }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="information">
                    <tbody>
                        <tr>
                            <td class="t">Population</td>
                            <td class="number">
                                <div>
                                    {{ starSystem.Population | number }}
                                </div>
                                <div class="small" *ngIf="starSystem.Population != starSystem.PopulationOriginal"
                                    [ngClass]="{
                                      'population-decrease': (starSystem.Population < starSystem.PopulationOriginal),
                                      'population-increase': (starSystem.Population > starSystem.PopulationOriginal)
                                    }">
                                    {{ (starSystem.Population - starSystem.PopulationOriginal) | number }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">Player Focus</td>
                            <td class="number">
                                {{ starSystem.EffortFocus | percent }}
                            </td>
                        </tr>
                        <ng-container *ngIf="!showTitanHearts">
                            <tr *ngIf="starSystem.StateProgress">
                                <td class="t">Progress</td>
                                <td class="number">
                                    <div class="progress-cell">
                                        {{ starSystem.StateProgress.ProgressUncapped | percent:'1.4-4' }}
                                        <div class="progress-locked"
                                            *ngIf="starSystem.ThargoidSpireSiteInSystem && starSystem.ThargoidLevel && starSystem.ThargoidLevel.Level > 0">
                                            <fa-icon [icon]="faHexagonExclamation"
                                                matTooltip="Thargoid spire site present in the system."
                                                size="lg"></fa-icon>
                                        </div>
                                    </div>
                                    <div *ngIf="starSystem.StateProgress.ProgressLastChecked" class="small">
                                        Last checked {{ starSystem.StateProgress.ProgressLastChecked | dateAgo:1 }}
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="showTitanHearts">
                            <tr>
                                <td class="t">Titan hearts</td>
                                <td class="titan-hearts"
                                    [matTooltip]="titanHeartsRemaining == 1 ? '1 heart remaining' : titanHeartsRemaining + ' hearts remaining'">
                                    <div *ngFor="let titanHeart of titanHearts">
                                        <fa-icon [icon]="faHeartRegular" class="heart-destroyed"
                                            *ngIf="titanHeartsRemaining < titanHeart"></fa-icon>
                                        <fa-icon [icon]="faHeartSolid"
                                            *ngIf="titanHeartsRemaining >= titanHeart"></fa-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="starSystem.StateProgress">
                                <td class="t">Current heart progress</td>
                                <td class="number">
                                    <div class="progress-cell">
                                        {{ starSystem.StateProgress.ProgressUncapped | percent:'1.4-4' }}
                                        <div class="progress-locked"
                                            *ngIf="starSystem.ThargoidSpireSiteInSystem && starSystem.ThargoidLevel && starSystem.ThargoidLevel.Level > 0">
                                            <fa-icon [icon]="faHexagonExclamation"
                                                matTooltip="Thargoid spire site present in the system."
                                                size="lg"></fa-icon>
                                        </div>
                                    </div>
                                    <div *ngIf="starSystem.StateProgress.ProgressLastChecked" class="small">
                                        Last checked {{ starSystem.StateProgress.ProgressLastChecked | dateAgo:1 }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="t">Total progress</td>
                                <td class="number">
                                    <div class="progress-cell">
                                        {{ starSystem.Maelstrom.TotalProgress| percent:'1.4-4' }}
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="information hide-on-mobile">
                    <b>External links</b>
                    <br>
                    <a href="https://inara.cz/elite/starsystem/?search={{ encodeUrlPart(starSystem.Name) }}"
                        target="_blank" rel="noreferrer">
                        Inara</a>
                    <br>
                    <a href="https://www.edsm.net/en/system?systemID64={{ starSystem.SystemAddress }}" target="_blank"
                        rel="noreferrer">
                        EDSM</a>
                </div>
            </div>
            <div *ngIf="starSystem?.Features && starSystem.Features.length > 0" class="features-list">
                <br>
                <b>Features</b>
                <div *ngIf="thargoidSpires" class="feature">
                    <div class="feature-icon-placeholder">
                        <img class="feature-icon" src="assets/spire.svg" matTooltip="Thargoid spire site present" />
                    </div>
                    Thargoid spire site present
                    <span *ngIf="starSystem.ThargoidSpireSiteBody">on body {{ starSystem.ThargoidSpireSiteBody }}</span>
                </div>
                <div *ngIf="odysseySettlement" class="feature">
                    <div class="feature-icon-placeholder">
                        <img class="feature-icon" src="assets/settlement_o.svg"
                            matTooltip="Odyssey settlement(s) present" />
                    </div>
                    Odyssey settlement(s) present
                </div>
                <div *ngIf="federation" class="feature">
                    <div class="feature-icon-placeholder">
                        <img class="feature-icon" src="assets/federation.svg" matTooltip="Federal faction(s) present" />
                    </div>
                    Federal faction(s) present
                </div>
                <div *ngIf="empire" class="feature">
                    <div class="feature-icon-placeholder">
                        <img class="feature-icon" src="assets/empire.svg" matTooltip="Imperial faction(s) present" />
                    </div>
                    Imperial faction(s) present
                </div>
                <div *ngIf="thargoidControlledReactivationMissions" class="feature">
                    <div class="feature-icon-placeholder">
                        <fa-icon class="feature-icon" [icon]="faBolt" size="xl"
                            matTooltip="AX reactivation missions available"></fa-icon>
                    </div>
                    AX reactivation missions available
                </div>
                <div *ngIf="aXConflictZones" class="feature">
                    <div class="feature-icon-placeholder">
                        <fa-icon class="feature-icon" [icon]="faCrosshairs" size="xl"
                            matTooltip="AX conflict zones"></fa-icon>
                    </div>
                    AX conflict zones
                </div>
                <div *ngIf="groundPortAXCZ" class="feature">
                    <div class="feature-icon-placeholder">
                        <div class="multi-icon" matTooltip="Ground port under attack">
                            <img class="feature-icon" src="assets/surface_port.svg" />
                            <div class="icon-red">
                                <fa-icon [icon]="faCrosshairsSimple" size="lg"></fa-icon>
                            </div>
                        </div>
                    </div>
                    Ground port under attack
                </div>
                <div *ngIf="counterstrike" class="feature">
                    <div class="feature-icon-placeholder">
                        <fa-icon class="feature-icon" [icon]="faArrowRightToArc" size="xl"
                            matTooltip="Counterstrike system"></fa-icon>
                    </div>
                    Counterstrike system
                </div>
            </div>
            <div *ngIf="appService.editPermissions && starSystem.ThargoidLevel?.Level == 40">
                <br>
                <mat-slide-toggle [(ngModel)]="editCounterstrike" (ngModelChange)="saveSystem()">
                    Counterstrike system
                </mat-slide-toggle>
            </div>
            <br>
            <div *ngIf="lineChartData && lineChartData.labels && lineChartData.labels.length">
                <canvas baseChart class="chart" [data]="lineChartData" [options]="lineChartOptions"
                    [type]="lineChartType" height="300"></canvas>
            </div>
            <br>
            <br>
            <mat-tab-group>
                <mat-tab label="Stations ({{ starSystem.Stations.length }})">
                    <app-system-stations [starSystem]="starSystem"></app-system-stations>
                </mat-tab>
                <mat-tab label="Operations ({{ starSystem.FactionOperationDetails.length }})">
                    <app-system-operations [starSystem]="starSystem"></app-system-operations>
                </mat-tab>
                <mat-tab label="Nearby systems">
                    <app-system-attack-defense [starSystem]="starSystem"></app-system-attack-defense>
                </mat-tab>
                <mat-tab label="Contributions">
                    <app-system-contributions [starSystem]="starSystem"></app-system-contributions>
                </mat-tab>
                <mat-tab label="History">
                    <app-system-history [starSystem]="starSystem"></app-system-history>
                </mat-tab>
                <mat-tab label="Progress history" *ngIf="showProgressDetails">
                    <table mat-table [dataSource]="progressDetails">
                        <ng-container matColumnDef="State">
                            <th mat-header-cell *matHeaderCellDef>State</th>
                            <td mat-cell *matCellDef="let row" class="nowrap"
                                [ngClass]="{'day-marker': row.DayMarker }">
                                <app-thargoid-level [thargoidLevel]="row.State"></app-thargoid-level>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Time">
                            <th mat-header-cell *matHeaderCellDef>Time reported (UTC)</th>
                            <td mat-cell *matCellDef="let row" class="nowrap"
                                [ngClass]="{'day-marker': row.DayMarker }">
                                {{ row.DateTime | date:'medium':'UTC' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Progress">
                            <th mat-header-cell *matHeaderCellDef>Progress</th>
                            <td mat-cell *matCellDef="let row" class="nowrap"
                                [ngClass]="{'day-marker': row.DayMarker }">
                                {{ row.ProgressPercentage | percent:'1.4-4' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Change">
                            <th mat-header-cell *matHeaderCellDef>Change</th>
                            <td mat-cell *matCellDef="let row" class="nowrap"
                                [ngClass]="{'day-marker': row.DayMarker }">
                                <span *ngIf="row.Change > 0" class="progress-plus">+{{ row.Change | percent:'1.4-4'
                                    }}</span>
                                <span *ngIf="row.Change < 0" class="progress-minus">{{ row.Change | percent:'1.4-4'
                                    }}</span>
                                <div *ngIf="row.DayChange">
                                    (
                                    <span *ngIf="row.DayChange > 0" class="progress-plus">+{{ row.DayChange |
                                        percent:'1.4-4' }}</span>
                                    <span *ngIf="row.DayChange < 0" class="progress-minus">{{ row.DayChange |
                                        percent:'1.4-4' }}</span>
                                    )
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Timespan">
                            <th mat-header-cell *matHeaderCellDef>Time span</th>
                            <td mat-cell *matCellDef="let row" class="nowrap"
                                [ngClass]="{'day-marker': row.DayMarker }">
                                {{ row.Timespan }}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="progressDetailsColumns; sticky: true" class="thead">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: progressDetailsColumns;"></tr>
                    </table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>