<div class="overwatch-content-container">
    <div class="overwatch-content-large" *ngIf="starSystem">
        <div class="title">
            {{ starSystem.Name }}
            <fa-icon [icon]="faClipboard" matTooltip="Copy to clipboard" class="clickable"
                (click)="copySystemName()"></fa-icon>
        </div>
        <div class="content-box">
            <div class="content-flex">
                <div class="information">
                    <table>
                        <tbody>
                            <tr>
                                <td class="t">Titan</td>
                                <td>
                                    <app-maelstrom-name [maelstrom]="starSystem.Maelstrom"></app-maelstrom-name>
                                    <span *ngIf="starSystem.DistanceToMaelstrom">
                                        ({{ starSystem.DistanceToMaelstrom | number:'0.2-2' }} Ly)
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="t">Thargoid State</td>
                                <td>
                                    <app-thargoid-level [thargoidLevel]="starSystem.ThargoidLevel"></app-thargoid-level>
                                </td>
                            </tr>
                            <tr *ngIf="starSystem.StateExpiration?.StateExpires">
                                <td class="t">Remaining time</td>
                                <td>
                                    <div>
                                        {{ starSystem.StateExpiration?.StateExpires | dateAgo }}
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="starSystem.ClosestRescueShip && starSystem.PopulationOriginal === 0">
                                <td class="t">Closest rescue ship</td>
                                <td>
                                    {{ starSystem.ClosestRescueShip.System.Name }}
                                    ({{ starSystem.ClosestRescueShip.DistanceLy | number: '1.0-0' }} Ly)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="information">
                    <table>
                        <tbody>
                            <tr>
                                <td class="t">Population</td>
                                <td class="number">
                                    <div>
                                        {{ starSystem.Population | number }}
                                    </div>
                                    <div class="small" *ngIf="starSystem.Population != starSystem.PopulationOriginal"
                                        [ngClass]="{
                                          'population-decrease': (starSystem.Population < starSystem.PopulationOriginal),
                                          'population-increase': (starSystem.Population > starSystem.PopulationOriginal)
                                        }">
                                        {{ (starSystem.Population - starSystem.PopulationOriginal) | number }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="t">Player Focus</td>
                                <td class="number">
                                    {{ starSystem.EffortFocus | percent }}
                                </td>
                            </tr>
                            <ng-container *ngIf="!showTitanHearts">
                                <tr *ngIf="starSystem.StateProgress">
                                    <td class="t">Progress</td>
                                    <td class="number">
                                        <div class="progress-cell">
                                            {{ starSystem.StateProgress.ProgressUncapped | percent:'1.4-4' }}
                                            <div class="progress-locked"
                                                *ngIf="starSystem.ThargoidSpireSiteInSystem && starSystem.ThargoidLevel && starSystem.ThargoidLevel.Level > 0">
                                                <fa-icon [icon]="faHexagonExclamation"
                                                    matTooltip="Thargoid spire site present in the system."
                                                    size="lg"></fa-icon>
                                            </div>
                                        </div>
                                        <div *ngIf="starSystem.StateProgress.ProgressLastChecked" class="small">
                                            Last checked {{ starSystem.StateProgress.ProgressLastChecked | dateAgo:1 }}
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="information hide-on-mobile">
                    <b>External system links</b>
                    <br>
                    <a href="https://inara.cz/elite/starsystem/?search={{ encodeUrlPart(starSystem.Name) }}"
                        target="_blank" rel="noreferrer">
                        Inara</a>
                    <br>
                    <a href="https://www.edsm.net/en/system?systemID64={{ starSystem.SystemAddress }}" target="_blank"
                        rel="noreferrer">
                        EDSM</a>
                </div>
            </div>
            <div *ngIf="showTitanHearts">
                <br>
                <div class="subtitle">Titan</div>
                <div class="content-flex">
                    <table class="information">
                        <tbody>
                            <tr>
                                <td class="t">Titan hearts</td>
                                <td class="titan-hearts"
                                    [matTooltip]="titanHeartsRemaining == 1 ? '1 heart remaining' : titanHeartsRemaining + ' hearts remaining'">
                                    <div *ngFor="let titanHeart of titanHearts">
                                        <fa-icon [icon]="faHeartRegular" class="heart-destroyed"
                                            *ngIf="titanHeartsRemaining < titanHeart"></fa-icon>
                                        <fa-icon [icon]="faHeartSolid"
                                            *ngIf="titanHeartsRemaining >= titanHeart"></fa-icon>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="starSystem.StateProgress">
                                <td class="t">Current heart progress</td>
                                <td class="number">
                                    <div class="progress-cell">
                                        {{ starSystem.StateProgress.ProgressUncapped | percent:'1.4-4' }}
                                    </div>
                                    <div *ngIf="starSystem.StateProgress.ProgressLastChecked" class="small">
                                        Last checked {{ starSystem.StateProgress.ProgressLastChecked | dateAgo:1 }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="t">Total progress</td>
                                <td class="number">
                                    <div class="progress-cell">
                                        {{ starSystem.Maelstrom.TotalProgress | percent:'1.4-4' }}
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="starSystem.Maelstrom.CompletionTimeEstimate">
                                <td class="t">Estimated completion time</td>
                                <td class="number">
                                    {{ starSystem.Maelstrom.CompletionTimeEstimate | dateAgo }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="starSystem?.Features && starSystem.Features.length > 0" class="features-list">
                <br>
                <div class="subtitle">Features</div>
                <div *ngIf="thargoidSpires" class="feature">
                    <div class="feature-icon-placeholder">
                        <img class="feature-icon" src="assets/spire.svg" matTooltip="Thargoid spire site present" />
                    </div>
                    Thargoid spire site present
                    <span *ngIf="starSystem.ThargoidSpireSiteBody">on body {{ starSystem.ThargoidSpireSiteBody }}</span>
                </div>
                <div *ngIf="odysseySettlement" class="feature">
                    <div class="feature-icon-placeholder">
                        <img class="feature-icon" src="assets/settlement_o.svg"
                            matTooltip="Odyssey settlement(s) present" />
                    </div>
                    Odyssey settlement(s) present
                </div>
                <div *ngIf="federation" class="feature">
                    <div class="feature-icon-placeholder">
                        <img class="feature-icon" src="assets/federation.svg" matTooltip="Federal faction(s) present" />
                    </div>
                    Federal faction(s) present
                </div>
                <div *ngIf="empire" class="feature">
                    <div class="feature-icon-placeholder">
                        <img class="feature-icon" src="assets/empire.svg" matTooltip="Imperial faction(s) present" />
                    </div>
                    Imperial faction(s) present
                </div>
                <div *ngIf="thargoidControlledReactivationMissions" class="feature">
                    <div class="feature-icon-placeholder">
                        <fa-icon class="feature-icon" [icon]="faBolt" size="xl"
                            matTooltip="AX reactivation missions available"></fa-icon>
                    </div>
                    AX reactivation missions available
                </div>
                <div *ngIf="aXConflictZones" class="feature">
                    <div class="feature-icon-placeholder">
                        <fa-icon class="feature-icon" [icon]="faCrosshairs" size="xl"
                            matTooltip="AX conflict zones"></fa-icon>
                    </div>
                    AX conflict zones
                </div>
                <div *ngIf="groundPortAXCZ" class="feature">
                    <div class="feature-icon-placeholder">
                        <div class="multi-icon" matTooltip="Ground port under attack">
                            <img class="feature-icon" src="assets/surface_port.svg" />
                            <div class="icon-red">
                                <fa-icon [icon]="faCrosshairsSimple" size="lg"></fa-icon>
                            </div>
                        </div>
                    </div>
                    Ground port under attack
                </div>
                <div *ngIf="counterstrike" class="feature">
                    <div class="feature-icon-placeholder">
                        <fa-icon class="feature-icon" [icon]="faArrowRightToArc" size="xl"
                            matTooltip="Counterstrike system"></fa-icon>
                    </div>
                    Counterstrike system
                </div>
            </div>
            <div *ngIf="appService.editPermissions && starSystem.ThargoidLevel?.Level == 40">
                <br>
                <mat-slide-toggle [(ngModel)]="editCounterstrike" (ngModelChange)="saveSystem()">
                    Counterstrike system
                </mat-slide-toggle>
            </div>
            <br>
            <div *ngIf="lineChartData && lineChartData.labels && lineChartData.labels.length">
                <canvas baseChart class="chart" [data]="lineChartData" [options]="lineChartOptions"
                    [type]="lineChartType" height="300"></canvas>
            </div>
            <br>
            <br>
            <mat-tab-group>
                <mat-tab label="Stations ({{ starSystem.Stations.length }})">
                    <app-system-stations [starSystem]="starSystem"></app-system-stations>
                </mat-tab>
                <mat-tab label="Operations ({{ starSystem.FactionOperationDetails.length }})">
                    <app-system-operations [starSystem]="starSystem"></app-system-operations>
                </mat-tab>
                <mat-tab label="Nearby systems">
                    <app-system-attack-defense [starSystem]="starSystem"></app-system-attack-defense>
                </mat-tab>
                <mat-tab label="Contributions">
                    <app-system-contributions [starSystem]="starSystem"></app-system-contributions>
                </mat-tab>
                <mat-tab label="System history">
                    <ng-template matTabContent>
                        <app-system-history [starSystem]="starSystem"></app-system-history>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Progress history">
                    <ng-template matTabContent>
                        <app-system-progress-details [progressData]="progressData"></app-system-progress-details>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>