<div *ngIf="warEffortCycleStarSystem">
    <div class="subtitle clickable" [routerLink]="[ '/system', warEffortCycleStarSystem.StarSystem.SystemAddress ]">
        {{ warEffortCycleStarSystem.StarSystem.Name }}
    </div>
    <table class="info-table">
        <tbody>
            <tr>
                <td class="t">Current State</td>
                <td class="state-cell">
                    <app-thargoid-level
                        [thargoidLevel]="warEffortCycleStarSystem.StarSystem.ThargoidLevel"></app-thargoid-level>
                    <span *ngIf="warEffortCycleStarSystem.StarSystem.StateProgress.ProgressPercent != null">
                        ({{ warEffortCycleStarSystem.StarSystem.StateProgress.ProgressPercent | percent }})
                    </span>
                    <span class="progress-locked" *ngIf="warEffortCycleStarSystem.StarSystem.BarnacleMatrixInSystem">
                        <fa-icon [icon]="faLock"
                            matTooltip="Barnacle matrix present in the system. Progress is locked."></fa-icon>
                    </span>
                </td>
            </tr>
            <td class="t">Titan</td>
            <td>
                <app-maelstrom-name [maelstrom]="warEffortCycleStarSystem.StarSystem.Maelstrom"></app-maelstrom-name>
                <span *ngIf="warEffortCycleStarSystem.StarSystem.DistanceToMaelstrom">
                    ({{ warEffortCycleStarSystem.StarSystem.DistanceToMaelstrom | number:'0.0-2' }} Ly)
                </span>
            </td>
        </tbody>
    </table>
    <div class="table-container">
        <table class="mat-mdc-table mdc-data-table__table cdk-table summary-table">
            <tbody>
                <ng-container *ngFor="let entry of summary">
                    <tr class="mat-mdc-row mdc-data-table__row cdk-row thead">
                        <td class="mat-mdc-cell mdc-data-table__cell cdk-cell">
                            <div class="effort-type">
                                <div class="effort-icon">
                                    <fa-icon [icon]="entry.Icon" size="lg"></fa-icon>
                                </div>
                                <b>{{ entry.Type }}</b>
                            </div>
                        </td>
                        <td class="mat-mdc-cell mdc-data-table__cell cdk-cell">
                            <div class="cell-number">
                                <b>{{ entry.Total | number }}</b>
                            </div>
                        </td>
                    </tr>
                    <tr class="mat-mdc-row mdc-data-table__row cdk-row" *ngFor="let detailEntry of entry.Entries">
                        <td class="mat-mdc-cell mdc-data-table__cell cdk-cell">
                            {{detailEntry.Type }}
                        </td>
                        <td class="mat-mdc-cell mdc-data-table__cell cdk-cell">
                            <div class="cell-number">
                                {{ detailEntry.Total | number }}
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div *ngIf="!showDetails" class="details-btn">
        <button mat-raised-button (click)="toggleShowDetails()">Show details</button>
    </div>
    <div class="table-container" *ngIf="showDetails">
        <div class="table">
            <table mat-table [dataSource]="detailsDataSource" matSort matSortActive="Date" matSortDirection="desc"
                matSortDisableClear>
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.Date | date }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                    <td mat-cell *matCellDef="let row">
                        <app-my-efforts-cycle-system-effort-type
                            [effort]="row"></app-my-efforts-cycle-system-effort-type>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="cell-number">
                            {{ row.Amount | number }}
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="detailDisplayedColumns; sticky: true" class="thead"></tr>
                <tr mat-row *matRowDef="let row; columns: detailDisplayedColumns;"></tr>
            </table>
            <div *ngIf="detailsDataSource.data.length === 0" class="empty-table">
                No records found.
            </div>
        </div>
    </div>
</div>