.thead {
    background-color: #272727;
}

.info-table {
    width: 400px;
    table-layout: fixed;
}

.t {
    font-weight: bold;
}

.state-cell {
    display: flex;
    gap: 4px;
}

.table {
    table-layout: fixed;
}

.table-container {
    margin-top: 6px;
}

div.load-more {
    background-color: #393939;
    width: 100%;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: center;
    padding: 12px;
}