.thead {
    background-color: #272727;
}

.info-table {
    width: 400px;
    table-layout: fixed;
}

.t {
    font-weight: bold;
}

.state-cell {
    display: flex;
    gap: 4px;
}

.table {
    table-layout: fixed;
}

.table-container {
    margin-top: 6px;
    table-layout: fixed;
}

table.summary-table {
    width: 100%;
}

div.load-more {
    background-color: #393939;
    width: 100%;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: center;
    padding: 12px;
}

.progress-locked {
    width: 12px;
    color: red;
}

.effort-type {
    display: flex;
    gap: 4px;
    align-items: center;
}

.effort-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 24px;
}

.details-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.cell-number {
    text-align: right;
    width: 80px;
}