<div class="overwatch-content">
    <div class="content-box">
        <h2>Login</h2>
        <div>
            ED: Overwatch only supports login via Frontier authentication.<br>
            By using this login method you understand that you will share your game journals with ED: Overwatch
            for the purpose of Thargoid conflict tracking.<br>
            We only collect what is absolutely necessary while we keep your data as safe as possible and never share
            your data with anyone.
        </div>
        <br>
        <div style="display: flex; justify-content: center;">
            <button mat-raised-button color="primary" [disabled]="loginDisabled" (click)="oAuth()">
                Login using Frontier authentication
            </button>
        </div>
    </div>
</div>