<div class="overwatch-content-container">
    <div class="overwatch-content-large">
        <div class="title">
            Systems
        </div>
        <div class="content-box systems-container">
            <div class="information-message">
                Please note that since the 18 January 2023 we are including systems which are under "invisible" Thargoid
                alert or control
                around the Leigong maelstrom provided the information is available.
                <br>
                <a href="https://issues.frontierstore.net/issue-detail/57247" target="_blank" rel="noreferrer">
                    Open the issue on the Frontier issue tracker for more details</a>&nbsp;<fa-icon
                    [icon]="faArrowUpRightFromSquare"></fa-icon>
            </div>
            <div style="height: 24px;"></div>
            <div class="systems-filter">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>System Name</mat-label>
                    <input matInput [(ngModel)]="systemNameFilter" (ngModelChange)="updateDataSource()"
                        placeholder="Filter by system name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Maelstroms</mat-label>
                    <mat-select [(ngModel)]="maelstromsSelected" (ngModelChange)="settingChanged()" multiple>
                        <mat-option *ngFor="let maelstrom of maelstroms" [value]="maelstrom">
                            {{ maelstrom.Name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Thargoid State</mat-label>
                    <mat-select [(ngModel)]="thargoidLevelsSelected" (ngModelChange)="settingChanged()" multiple>
                        <mat-option *ngFor="let thargoidLevel of thargoidLevels" [value]="thargoidLevel">
                            {{ thargoidLevel.Name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="systems-filter">
                <div>
                    <mat-checkbox [(ngModel)]="hideUnpopulated" (ngModelChange)="settingChanged()">
                        Hide unpopulated systems (original)
                    </mat-checkbox>
                </div>
                <div>
                    <mat-checkbox [(ngModel)]="hideCompleted" (ngModelChange)="settingChanged()">
                        Hide completed systems
                    </mat-checkbox>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Optional columns</mat-label>
                    <mat-select [(ngModel)]="optionalColumns" (ngModelChange)="settingChanged()" multiple>
                        <mat-option *ngFor="let availableOptionalColumn of availableOptionalColumns"
                            [value]="availableOptionalColumn.key">
                            {{ availableOptionalColumn.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="maelstromsSelected.length !== maelstroms.length || thargoidLevelsSelected.length !== thargoidLevels.length || hideUnpopulated || hideCompleted"
                class="filtered-view">
                <div>
                    <fa-icon [icon]="faFilter"></fa-icon>
                    Filtered view
                </div>
                <div class="clickable" (click)="resetFilter()">
                    <fa-icon [icon]="faCircleXmark"></fa-icon>
                    Reset filter
                </div>
            </div>
            <app-system-list [systems]="dataRaw" [maelstromsSelected]="maelstromsSelected"
                [thargoidLevelsSelected]="thargoidLevelsSelected" [hideUnpopulated]="hideUnpopulated"
                [hideCompleted]="hideCompleted" [systemNameFilter]="systemNameFilter"
                [optionalColumns]="optionalColumns"></app-system-list>
        </div>
    </div>
</div>