<div class="overwatch-content-container">
    <div class="overwatch-content-large">
        <div class="title">
            Systems
        </div>
        <div class="content-box systems-container">
            <div style="height: 24px;"></div>
            <div class="content-top-container">
                <div class="container-item">
                    <div *ngIf="nextTick">
                        <div class="subtitle">
                            Current cycle ends in {{ nextTick | dateAgo }}
                        </div>
                        <ul>
                            <li>Systems with 100% progress will move to their next state.</li>
                            <li>Systems not progressed to 100% will <b>reset</b> to 0% except for systems in recovery.</li>
                            <li>Systems in alert will move to invasion (if populated) or to Thargoid controlled (if
                                unpopulated).</li>
                            <li>Systems under Thargoid invasion will move to be Thargoid controlled if no time is
                                remaining.</li>
                        </ul>
                        <br>
                    </div>
                </div>
                <div class="container-item">
                    <div class="systems-filter">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>System Name</mat-label>
                            <input matInput [(ngModel)]="systemNameFilter" (ngModelChange)="updateDataSource()"
                                placeholder="Filter by system name">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Maelstroms</mat-label>
                            <mat-select [(ngModel)]="maelstromsSelected" (ngModelChange)="settingChanged()" multiple>
                                <mat-option *ngFor="let maelstrom of maelstroms" [value]="maelstrom">
                                    {{ maelstrom.Name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Thargoid State</mat-label>
                            <mat-select [(ngModel)]="thargoidLevelsSelected" (ngModelChange)="settingChanged()"
                                multiple>
                                <mat-option *ngFor="let thargoidLevel of thargoidLevels" [value]="thargoidLevel">
                                    {{ thargoidLevel.Name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Optional columns</mat-label>
                            <mat-select [(ngModel)]="optionalColumns" (ngModelChange)="settingChanged()" multiple>
                                <mat-option *ngFor="let availableOptionalColumn of availableOptionalColumns"
                                    [value]="availableOptionalColumn.key">
                                    {{ availableOptionalColumn.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="systems-filter">
                        <div>
                            <mat-checkbox [(ngModel)]="hideUnpopulated" (ngModelChange)="settingChanged()">
                                Hide unpopulated systems (original)
                            </mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox [(ngModel)]="hideCompleted" (ngModelChange)="settingChanged()">
                                Hide completed systems
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="maelstromsSelected.length !== maelstroms.length || thargoidLevelsSelected.length !== thargoidLevels.length || hideUnpopulated || hideCompleted"
                class="filtered-view">
                <div>
                    <fa-icon [icon]="faFilter"></fa-icon>
                    Filtered view
                </div>
                <div class="clickable" (click)="resetFilter()">
                    <fa-icon [icon]="faCircleXmark"></fa-icon>
                    Reset filter
                </div>
            </div>
            <app-system-list [systems]="dataRaw" [maelstromsSelected]="maelstromsSelected"
                [thargoidLevelsSelected]="thargoidLevelsSelected" [hideUnpopulated]="hideUnpopulated"
                [hideCompleted]="hideCompleted" [systemNameFilter]="systemNameFilter"
                [optionalColumns]="optionalColumns"></app-system-list>
        </div>
    </div>
</div>