.systems-container {
    display: flex;
    flex-direction: column;
}

.systems-filter {
    padding-bottom: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    mat-form-field {
        width: 300px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

.filtered-view {
    background-color: #e95e03;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 10px;
}

:host ::ng-deep .mat-mdc-form-field-bottom-align {
    display: none;
}

mat-form-field {
    margin-bottom: 6px;
}

.content-top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .container-item {
        max-width: 50%;
        min-width: 300px;
    }
}