.systems-container {
    display: flex;
    flex-direction: column;
}

.systems-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    mat-form-field {
        width: 300px;
        margin-left: 12px;
        margin-right: 12px;
    }
}