.systems-container {
    display: flex;
    flex-direction: column;
}

.systems-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    mat-form-field {
        width: 300px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

.filtered-view {
    background-color: #e95e03;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 10px;
}