.thead {
    background-color: #272727;
}

.table {
    min-height: 150px;
    min-width: 400px;
}

div.load-more {
    background-color: #393939;
    width: 100%;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: center;
    padding: 12px;
}

.alert-likely {
    background-color: rgb(241, 194, 50, 0.2);
}

.alert-likely:hover {
    background-color: rgb(241, 194, 50, 0.1) !important;
}

table {
    table-layout: fixed;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.thargoid-alert {
    background-color: rgb(241, 194, 50);
}

.table-top {
    display: flex;
    justify-content: space-between;
    margin: 6px;
}

.number-cell {
    display: flex;
    justify-content: space-between;

    .number {
        width: 100px;
        text-align: right;
    }
}