<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            Frequently Asked Questions (FAQ)
        </div>
        <div class="content-box">
            <div class="subtitle">
                Where does the data come from?
            </div>
            <div>
                Overwatch automatically collects and processes data from different sources:
                <br>
                <a href="https://github.com/EDCD/EDDN" target="_blank" rel="noreferrer">
                    EDDN - Elite Dangerous Data Network
                </a>:
                Information about stations, systems and their states.<br>
                <br>
                <a href="https://inara.cz/" target="_blank" rel="noreferrer">INARA</a>:
                Information about player contributions such as kills and rescues.<br>
                <br>
                <a href="https://docs.google.com/spreadsheets/d/1rluLhnhXSdO3CjamsfG7ybz_Kt_liWsSlqadFD3tnDI/edit"
                    target="_blank" rel="noreferrer">Operation IDA spreadsheet</a>:
                Information about deliveres and missions.<br>
                <br>
                <b>Overwatch</b> (player journal import):
                Information about player contributions such as kills and rescues as well as stations, systems and their
                states.<br>
                <br>
                <b>DCoH Discord</b>: Information in screenshots shared by players are extracted and update the system
                progress and remaining time.<br>
            </div>
            <br>
            <div class="subtitle">
                I found a bug or have an idea.
            </div>
            <div>
                Bugs and ideas can be reported in the #feedback channel on the
                <a href="https://discord.gg/wFk8RcxXbT" target="_blank" rel="noreferrer">DCoH Discord</a>.
                <br>
                <br>
                <div style="display: flex; width: 100%; justify-content: center;">
                    <iframe src="https://discord.com/widget?id=1048268829559640085&theme=dark" width="350" height="500"
                        allowtransparency="true" frameborder="0"
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
</div>