<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            FAQ
        </div>
        <div class="content-box">
            <div class="subtitle">
                Where does the data come from?
            </div>
            <div>
                Overwatch collects data from different sources:<br>
                <a href="https://github.com/EDCD/EDDN" target="_blank">EDDN - Elite Dangerous Data Network</a><br>
                <a href="https://inara.cz/" target="_blank">INARA</a><br>
                <a href="https://docs.google.com/spreadsheets/d/1rluLhnhXSdO3CjamsfG7ybz_Kt_liWsSlqadFD3tnDI/edit"
                    target="_blank">Operation IDA spreadsheet.</a>
            </div>
        </div>
    </div>
</div>