<div class="main-container">
  <div class="sides">
    <div class="side side-human">
      <div class="side-content-container side-content-container-human">
        <div class="side-content">
          <h2>Humans</h2>
        </div>
      </div>
      <div class="triangle-container triangle-humans">
        <svg class="bg" viewBox="0 0 400 700">
          <line x1="0" y1="-20" x2="400" y2="350" class="line" />
          <line x1="0" y1="720" x2="400" y2="350" class="line" />
          <polygon points="0,0 380,350 0,700" class="triangle" />
        </svg>
        <div class="key-indicators">
          <div class="text">
            <div class="text-item">
              Controlling
              <div class="highlight">
                13.337
              </div>
              systems of the human 'bubble'
            </div>
            <div class="text-item">
              <div class="highlight">
                12
              </div>
              systems recaptured
            </div>
            <div class="text-item">
              Over
              <div class="highlight">
                1.337+
              </div>
              confirmed Thargoid kills
            </div>
            <div class="text-item">
              Over
              <div class="highlight">
                123.456+
              </div>
              confirmed rescues
            </div>
            <div class="text-item">
              Over
              <div class="highlight">
                234.567+ t
              </div>
              confirmed rescue supplies
            </div>
          </div>
          <div>
            <span class="key-highlight-description">Controlling</span>
            <div class="key-highlight-value">89.01%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="side side-human">
      <div class="triangle-container triangle-thargoids">
        <svg class="bg" viewBox="0 0 400 700">
          <line x1="400" y1="-20" x2="0" y2="350" class="line" />
          <line x1="400" y1="720" x2="0" y2="350" class="line" />
          <polygon points="400,0 20,350 400,700" class="triangle" />
        </svg>
        <div class="key-indicators">
          <div>
            <span class="key-highlight-description">Controlling</span>
            <div class="key-highlight-value">12.34%</div>
          </div>
          <div class="text">
            <div>
              <div class="text-item">
                <div class="highlight">
                  8
                </div>
                active Maelstroms
              </div>
              <div class="text-item">
                Controlling
                <div class="highlight">
                  123
                </div>
                systems of the human 'bubble'
              </div>
              <div class="text-item">
                Over
                <div class="highlight">
                  1.337+
                </div>
                confirmed Commander kills
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-content-container side-content-container-thargoid">
        <div class="side-content side-content-thargoid">
          <h2>Thargoids</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="top-container">
    <p>Humanity is in the Aftermath War with the Thargoids for</p>
    <h1>{{ timeSince }}</h1>
  </div>
  <div class="bottom-container">
    <div class="text">
      <div class="text-item">
        <div class="highlight">
          11
        </div>
        systems under Thargoid invasion
      </div>
      <div class="text-item">
        <div class="highlight">
          12
        </div>
        systems reporting Thargoid alerts
      </div>
      <div class="text-item">
        <div class="highlight">
          13
        </div>
        systems being recaptured
      </div>
    </div>
  </div>
</div>