<div class="main-container">
  <div class="sides">
    <div class="side side-human">
      <div class="side-content-container side-content-container-human"
        [ngStyle]="{ 'max-height.px': sideSontentContainerMaxHeight }">
        <div class="side-content">
          <h2>Humans</h2>
        </div>
      </div>
      <div class="triangle-container triangle-humans"
        [ngStyle]="{ 'max-height.px': sideSontentContainerMaxHeight + 4 }">
        <svg class="bg" viewBox="0 0 400 700">
          <line x1="0" y1="-20" x2="400" y2="350" class="line" />
          <line x1="0" y1="720" x2="400" y2="350" class="line" />
          <polygon points="0,0 380,350 0,700" class="triangle" />
        </svg>
        <div class="key-indicators" *ngIf="overview && overview.humans">
          <div class="text">
            <div class="text-item">
              Controlling
              <div class="highlight">
                {{ overview.humans.systemsControlling | number }}
              </div>
              systems of the human 'bubble'
            </div>
            <div class="text-item">
              <div class="highlight">
                {{ overview.humans.systemsRecaptured | number }}
              </div>
              systems recaptured
            </div>
            <div class="text-item" *ngIf="overview.humans.thargoidKills">
              Over
              <div class="highlight">
                {{ overview.humans.thargoidKills | number }}+
              </div>
              confirmed Thargoid kills
            </div>
            <div class="text-item" *ngIf="overview.humans.rescues">
              Over
              <div class="highlight">
                {{ overview.humans.rescues | number }}+
              </div>
              confirmed rescues
            </div>
            <div class="text-item" *ngIf="overview.humans.rescueSupplies">
              Over
              <div class="highlight">
                {{ overview.humans.rescueSupplies | number }}+ t
              </div>
              confirmed rescue supplies
            </div>
          </div>
          <div>
            <span class="key-highlight-description">Controlling</span>
            <div class="key-highlight-value">{{ overview.humans.controllingPercentage | percent:'0.2-2' }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="side side-human">
      <div class="triangle-container triangle-thargoids"
        [ngStyle]="{ 'max-height.px': sideSontentContainerMaxHeight + 4 }">
        <svg class="bg" viewBox="0 0 400 700" #triangleLeft>
          <line x1="400" y1="-20" x2="0" y2="350" class="line" />
          <line x1="400" y1="720" x2="0" y2="350" class="line" />
          <polygon points="400,0 20,350 400,700" class="triangle" />
        </svg>
        <div class="key-indicators" *ngIf="overview && overview.thargoids">
          <div>
            <span class="key-highlight-description">Controlling</span>
            <div class="key-highlight-value">{{ overview.thargoids.controllingPercentage | percent:'0.2-2' }}</div>
          </div>
          <div class="text">
            <div>
              <div class="text-item">
                Controlling
                <div class="highlight">
                  {{ overview.thargoids.systemsControlling | number }}
                </div>
                systems of the human 'bubble'
              </div>
              <div class="text-item">
                <div class="highlight">
                  {{ overview.thargoids.activeMaelstroms | number }}
                </div>
                active Maelstroms
              </div>
              <div class="text-item" *ngIf="overview.thargoids.commanderKills">
                Over
                <div class="highlight">
                  {{ overview.thargoids.commanderKills | number }}+
                </div>
                confirmed Commander kills
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-content-container side-content-container-thargoid"
        [ngStyle]="{ 'max-height.px': sideSontentContainerMaxHeight }">
        <div class="side-content side-content-thargoid">
          <h2>Thargoids</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="top-container">
    <p>Humanity is in the Aftermath War with the Thargoids for</p>
    <h1>{{ timeSince }}</h1>
  </div>
  <div class="bottom-container">
    <div class="text" *ngIf="overview && overview.contested">
      <div class="text-item clickable" [routerLink]="['/systems']">
        <div class="highlight">
          {{ overview.contested.systemsInInvasion | number }}
        </div>
        systems under Thargoid invasion
      </div>
      <div class="text-item clickable" [routerLink]="['/systems']">
        <div class="highlight">
          {{ overview.contested.systemsWithAlerts | number }}
        </div>
        systems reporting Thargoid alerts
      </div>
      <div class="text-item clickable" [routerLink]="['/systems']">
        <div class="highlight">
          {{ overview.contested.systemsBeingRecaptured | number }}
        </div>
        systems being recaptured
      </div>
    </div>
  </div>
</div>