
.sides {
  display: flex;
}

.side {
  width: 50%;
  display: flex;
}

.side-human {
  justify-content: flex-end;
}

.side-content-container {
  flex-grow: 1;
  padding: 8px;
  display: flex;
}

.side-content-container-human {
  background-color: rgb(33, 29, 104);
  justify-content: flex-end;
}

.side-content-container-thargoid {
  background-color: #846a24;
  justify-content: flex-start;
}

.side-content {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
}

.side-content-thargoid {
  align-items: flex-end;
  text-align: right;
}

.key-highlight,
.text,
.key-highlight-description {
  font-size: 10pt;
  line-height: 1;
}

.text-item {
  margin: 12px;
}

.text {
  padding: 8px;

  .highlight {
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Trebuchet MS', sans-serif;
  }
}

.middle-container-wrapper {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    text-align: center;
  }

  .text-item {
    margin: 20px;
  }
}

.triangle-container {
  width: 30vh;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 0;

  .bg {
    position: absolute;
    top: 0;
  }

  .line {
    stroke-width: 8px;
  }

  .triangle {
    fill: transparent;
    stroke-width: 8px;
  }

  .key-indicators {
    z-index: 1;
    display: flex;
    padding: 36px;
  }

  .key-highlight-value {
    line-height: 1;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Trebuchet MS', sans-serif;
  }
}

.triangle-humans {
  justify-content: flex-end;

  .line {
    stroke: rgb(33, 29, 104);
  }

  .triangle {
    stroke: rgb(33, 29, 104);
    fill: rgb(33, 29, 104);
  }
}

.triangle-thargoids {

  .line {
    stroke: #846a24;
  }

  .triangle {
    stroke: #846a24;
    fill: #846a24;
  }

  .key-indicators {
    text-align: right;
  }
}