<div class="main-container">
  <div class="sides">
    <div class="side">
      <div class="side-content-container side-content-container-human"
        [ngStyle]="{ 'height.px': sideSontentContainerMaxHeight }">
        <div class="side-content">
          <h2>Humans</h2>
          <div class="text" *ngIf="overview">
            <div class="text-item">
              Controlling
              <div class="highlight">
                {{ overview.humans.systemsControlling | number }}
              </div>
              systems of the human 'bubble'
            </div>
            <div class="text-item">
              <div class="highlight">
                {{ overview.humans.systemsRecaptured | number }}
              </div>
              systems recaptured
            </div>
            <div class="text-item">
              <div class="highlight">
                <span *ngIf="overview.humans.thargoidKills">
                  {{ overview.humans.thargoidKills | number }}+
                </span>
                <span *ngIf="!overview.humans.thargoidKills">
                  ???
                </span>
              </div>
              confirmed Thargoid kills
            </div>
            <div class="text-item">
              <div class="highlight">
                <span *ngIf="overview.humans.rescues">
                  {{ overview.humans.rescues | number }}+
                </span>
                <span *ngIf="!overview.humans.rescues">
                  ???
                </span>
              </div>
              confirmed rescues
            </div>
            <div class="text-item">
              <div class="highlight">
                <span *ngIf="overview.humans.rescueSupplies">
                  {{ overview.humans.rescueSupplies | number }}+ t
                </span>
                <span *ngIf="!overview.humans.rescueSupplies">
                  ???
                </span>
              </div>
              confirmed rescue supplies
            </div>
          </div>
        </div>
      </div>
      <div class="triangle-container triangle-humans"
        [ngStyle]="{ 'max-height.px': sideSontentContainerMaxHeight + 4 }">
        <svg class="bg" viewBox="0 0 200 600">
          <line x1="0" y1="-33" x2="200" y2="300" class="line" />
          <line x1="0" y1="633" x2="200" y2="300" class="line" />
          <polygon points="0,0 180,300 0,600" class="triangle" />
        </svg>
        <div class="key-indicators" *ngIf="overview && overview.humans">
          <div>
            <span class="key-highlight-description">Controlling</span>
            <div class="key-highlight-value">{{ overview.humans.controllingPercentage | percent:'0.2-2' }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="side">
      <div class="triangle-container triangle-thargoids"
        [ngStyle]="{ 'max-height.px': sideSontentContainerMaxHeight + 4 }">
        <svg class="bg" viewBox="0 0 200 600" #triangleLeft>
          <line x1="200" y1="-33" x2="0" y2="300" class="line" />
          <line x1="200" y1="633" x2="0" y2="300" class="line" />
          <polygon points="200,0 20,300 200,600" class="triangle" />
        </svg>
        <div class="key-indicators" *ngIf="overview && overview.thargoids">
          <div>
            <span class="key-highlight-description">Controlling</span>
            <div class="key-highlight-value">{{ overview.thargoids.controllingPercentage | percent:'0.2-2' }}</div>
          </div>
        </div>
      </div>
      <div class="side-content-container side-content-container-thargoid"
        [ngStyle]="{ 'height.px': sideSontentContainerMaxHeight }">
        <div class="side-content side-content-thargoid">
          <h2>Thargoids</h2>
          <div class="text" *ngIf="overview">
            <div>
              <div class="text-item clickable" routerLink="systems">
                Controlling
                <div class="highlight">
                  {{ overview.thargoids.systemsControlling | number }}
                </div>
                systems of the human 'bubble'
              </div>
              <div class="text-item clickable" routerLink="systems">
                <div class="highlight">
                  {{ overview.thargoids.activeMaelstroms | number }}
                </div>
                active Maelstroms
              </div>
              <div class="text-item">
                <div class="highlight">
                  <span *ngIf="overview.thargoids.commanderKills">
                    {{ overview.thargoids.commanderKills | number }}+
                  </span>
                  <span *ngIf="!overview.thargoids.commanderKills">
                    ???
                  </span>
                </div>
                confirmed Commander kills
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-container-wrapper">
    <div class="middle-container" [ngStyle]="{ 'max-height.px': sideSontentContainerMaxHeight + 4 }">
      <div class="middle-container-item">
        <span>Humanity is in the Aftermath War</span>
        <span>with the Thargoids for</span>
        <h1>{{ timeSince }}</h1>
      </div>
      <div class="middle-container-item bottom-container">
        <div class="text" *ngIf="overview && overview.contested">
          <div class="text-item clickable" routerLink="systems">
            <div class="highlight">
              {{ overview.contested.systemsInInvasion | number }}
            </div>
            systems under Thargoid invasion
          </div>
          <div class="text-item clickable" routerLink="systems">
            <div class="highlight">
              {{ overview.contested.systemsWithAlerts | number }}
            </div>
            systems reporting Thargoid alerts
          </div>
          <div class="text-item clickable" routerLink="systems">
            <div class="highlight">
              {{ overview.contested.systemsBeingRecaptured | number }}
            </div>
            systems being recaptured
          </div>
        </div>
        <br>
        <button mat-raised-button color="warn" routerLink="get-involved">
          <b>Get involved</b>
        </button>
      </div>
    </div>
  </div>
</div>