<div class="table-container">
    <div class="table" style="max-height: 40vh">
        <table mat-table [dataSource]="factionOperations" matSort>
            <ng-container matColumnDef="Faction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Faction</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.Faction }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.Type }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Started">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.Started | date }}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="factionOperationsDisplayedColumns; sticky: true" class="thead">
            </tr>
            <tr mat-row *matRowDef="let row; columns: factionOperationsDisplayedColumns;"></tr>
        </table>
        <div *ngIf="factionOperations.data.length === 0" class="empty-table">
            No records found.
        </div>
    </div>
</div>