<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            Experimental features - Settings
        </div>
        <div class="content-box">
            <mat-slide-toggle [(ngModel)]="effortEstimates" (ngModelChange)="saveSettings()">
                Effort estimates
            </mat-slide-toggle>
            <br>
            <mat-slide-toggle [(ngModel)]="progressDetails" (ngModelChange)="saveSettings()">
                Progress details
            </mat-slide-toggle>
        </div>
    </div>
</div>