<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            About
        </div>
        <div class="content-box">
            <span>
                DCoH Overwatch/ED: Overwatch is a project developed and maintained by CMDR Dark Session in
                collaboration with the Defense Council of Humanity team.
            </span>
            <br>
            <br>
            <span>
                Special thanks to CMDR LCU No Fool Like One and Canonn for the map feature.
            </span>
            <br>
            <br>
            <div class="subtitle">
                Assets
            </div>
            <div>
                Assets on this websites include work from<br>
                Frontier Developments plc, <a href="https://edassets.org" target="_blank">EDAssets.org</a>,
                CMDR IM2D and <a href="https://canonn.science/" target="_blank">Canonn</a>.
            </div>
            <br>
            <span>Source code is available under MIT license on
                <a href="https://github.com/DarkSession/EDOverwatch" target="_blank">GitHub</a>.
            </span>
        </div>
    </div>
</div>