<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            About
        </div>
        <div class="content-box">
            <span>
                DCoH Overwatch/ED: Overwatch is a project developed and maintained by CMDR Dark Session.
            </span>
            <div>
                Assets on this websites includes work from<br>
                Frontier Developments plc, <a href="https://edassets.org" target="_blank">EDAssets.org</a> and CMDR IM2D
            </div>
            <br>
            <div class="subtitle">
                Source code
            </div>
            <span>Source Code is available under MIT license on
                <a href="https://github.com/DarkSession/EDOverwatch" target="_blank">GitHub</a>.
            </span>
        </div>
    </div>
</div>