<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            About
        </div>
        <div class="content-box">
            <span>
                DCoH Overwatch/ED: Overwatch is a project developed and maintained by CMDR Dark Session in
                collaboration with the Defense Council of Humanity team.
            </span>
            <br>
            <br>
            <div class="subtitle">
                Special mentions
            </div>
            <div>
                <b>Galaxy map</b><br>
                CMDR LCU No Fool Like One and Canonn for the map feature.
            </div>
            <br>
            <div>
                <b>Alert prediction</b><br>
                The alert prediction has been developed on the basis of the research of some smart people in the
                <a href="https://forums.frontier.co.uk/threads/analysing-the-thargoid-simulation.611382/" target="_blank" rel="noreferrer">Frontier forums</a>, most notably by CMDR Ian Doncaster.
            </div>
            <br>
            <div>
                <b>AX reactivation missions</b><br>
                CMDR TobyToolbag for helping to refine the AX reactivation mission spawn logic.
            </div>
            <br>
            <div class="subtitle">
                Assets
            </div>
            <div>
                Assets used in this web app include work from<br>
                Frontier Developments plc,
                <a href="https://edassets.org" target="_blank" rel="noreferrer">EDAssets.org</a>,
                CMDR IM2D and 
                <a href="https://canonn.science/" target="_blank" rel="noreferrer">Canonn</a>.
            </div>
            <br>
            <span>Source code is available under MIT license on
                <a href="https://github.com/DarkSession/EDOverwatch" target="_blank" rel="noreferrer">GitHub</a>.
            </span>
            <br>
            <br>
            <div class="subtitle">
                Discord
            </div>
            <div>
                <a href="https://discord.gg/wFk8RcxXbT" target="_blank" rel="noreferrer">DCoH Discord</a>.
                <br>
                <br>
                <div style="display: flex; width: 100%; justify-content: center;">
                    <iframe src="https://discord.com/widget?id=1048268829559640085&theme=dark" width="350" height="500"
                        allowtransparency="true" frameborder="0"
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>