.content-container {
    height: calc(100% - 24px);
    display: flex;
    margin: 12px;
    min-width: 250px;

    svg {
        height: 100%;
        width: auto;
    }
}

.cycle-container {
    background-color: var(--accent-darker-color);
    padding: 8px;
    min-width: 200px;
    margin: 0px;
    border: none;

    div.states {
        div {
            display: flex;
            justify-content: space-between;
        }
    }
}

.svg {
    fill: var(--accent-darker-color);
    stroke-width: 0px;
}

.svg-left,
.svg-right {
    height: 100%;
    width: auto;
}

.svg-left {
    margin-right: -2px;
}

.svg-right {
    margin-left: -2px;
}