<div class="overwatch-content-container">
    <div class="overwatch-content-large">
        <div *ngIf="overview?.Status == OverviewDataStatus.TickInProgress" class="information-message">
            <div>
                <fa-icon [icon]="faGears"></fa-icon>
            </div>
            <div>
                Elite Dangerous weekly tick in progress.
            </div>
        </div>
        <div *ngIf="overview?.Status == OverviewDataStatus.UpdatePending" class="information-message">
            <div>
                <fa-icon [icon]="faGears"></fa-icon>
            </div>
            <div>
                <b>Data update in progress</b><br>
                Overwatch is currently updating system data from the recent weekly server tick.
            </div>
        </div>
        <div class="state-containers-parent">
            <div class="state-containers" #stateContainers>
                <app-home-v2-cycle [cycle]="overview?.PreviousCycle" title="Previous cycle"></app-home-v2-cycle>
                <app-home-v2-cycle-changes [cycleChange]="overview?.PreviousCycleChanges"
                    title="Results"></app-home-v2-cycle-changes>
                <app-home-v2-cycle [cycle]="overview?.CurrentCycle" title="Current cycle"
                    information="Cycle ends in {{ nextTick | dateAgo }}"></app-home-v2-cycle>
                <app-home-v2-cycle-changes [cycleChange]="overview?.NextCycleChanges"
                    title="Intermediate result"></app-home-v2-cycle-changes>
                <app-home-v2-cycle [cycle]="overview?.NextCyclePrediction" title="Next cycle"
                    information="Based on intermediate result"></app-home-v2-cycle>
            </div>
        </div>
        <div class="title">
            Systems - Current Cycle
        </div>
        <div class="content-box systems-container">
            <div style="height: 24px;"></div>
            <div class="content-top-container">
                <div class="systems-filter">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>System Name</mat-label>
                        <input matInput [(ngModel)]="systemNameFilter" (ngModelChange)="updateDataSource()"
                            placeholder="Filter by system name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Titans</mat-label>
                        <mat-select [(ngModel)]="maelstromsSelected" (ngModelChange)="settingChanged()" multiple>
                            <mat-option *ngFor="let maelstrom of maelstroms" [value]="maelstrom">
                                {{ maelstrom.Name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Thargoid State</mat-label>
                        <mat-select [(ngModel)]="thargoidLevelsSelected" (ngModelChange)="settingChanged()" multiple>
                            <mat-option *ngFor="let thargoidLevel of thargoidLevels" [value]="thargoidLevel">
                                {{ thargoidLevel.Name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Optional columns</mat-label>
                        <mat-select [(ngModel)]="optionalColumns" (ngModelChange)="settingChanged()" multiple>
                            <mat-option *ngFor="let availableOptionalColumn of availableOptionalColumns"
                                [value]="availableOptionalColumn.key">
                                {{ availableOptionalColumn.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="systems-filter">
                    <div>
                        <mat-checkbox [(ngModel)]="hideUnpopulated" (ngModelChange)="settingChanged()">
                            Hide unpopulated systems (original)
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="hideCompleted" (ngModelChange)="settingChanged()">
                            Hide completed systems
                        </mat-checkbox>
                    </div>
                </div>
            </div>
            <div *ngIf="maelstromsSelected.length !== maelstroms.length || thargoidLevelsSelected.length !== thargoidLevels.length || hideUnpopulated || hideCompleted"
                class="filtered-view">
                <div>
                    <fa-icon [icon]="faFilter"></fa-icon>
                    Filtered view
                </div>
                <div class="clickable" (click)="resetFilter()">
                    <fa-icon [icon]="faCircleXmark"></fa-icon>
                    Reset filter
                </div>
            </div>
            <app-system-list [systems]="dataRaw" [maelstromsSelected]="maelstromsSelected"
                [thargoidLevelsSelected]="thargoidLevelsSelected" [hideUnpopulated]="hideUnpopulated"
                [hideCompleted]="hideCompleted" [systemNameFilter]="systemNameFilter"
                [optionalColumns]="optionalColumns"></app-system-list>
        </div>
    </div>
</div>