.main-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.container-center {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.line {
  stroke-width: 4;
  stroke: #2c2c2c;
}

.triangle {
  stroke: #2c2c2c;
  fill: #2c2c2c;
}

.container-sides {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;

  .bg-human {
    width: 50%;
    background-color: rgb(65, 105, 140);
    position: relative;
  }

  .bg-human-img {
    background-image: url('/assets/bg_human.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .bg-thargoid {
    background-color: rgb(120, 37, 7);
    width: 50%;
    position: relative;
  }

  .bg-thargoid-img {
    background-image: url('/assets/bg_thargoid.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    z-index: 10;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .item {
      flex-grow: 1;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px;
      text-align: center;
    }

    .highlight {
      font-weight: bold;
      font-size: 16pt;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .key-indicators {
      z-index: 1;
      padding: 36px;

      .key-highlight,
      .key-highlight-description {
        font-size: 10pt;
        line-height: 1;
      }

      .key-highlight-value {
        line-height: 1;
        font-weight: bold;
        font-size: 20pt;
        font-family: 'Trebuchet MS', sans-serif;
      }
    }
  }

  .content-human {
    width: 35%;
  }

  .content-middle {
    width: 30%;
    justify-content: space-between;
    height: 100%;
    visibility: hidden;

    .item-center {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    .content-middle {
      visibility: visible;
    }
  }

  .content-thargoid {
    width: 35%;
    text-align: right;
  }
}

.content-mobile {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .item {
    flex-grow: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-align: center;
  }

  .item-bottom {
    flex-direction: row;
  }

  .text-item {
    padding: 8px;
  }

  .highlight {
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Trebuchet MS', sans-serif;
  }
}

.text-item {
  margin-bottom: 12px;
  margin-top: 12px;
  line-height: 1;
  font-size: 10pt;
}

.maelstrom-summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px;
}

@media (min-width: 992px) {
  .content-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .hide-on-small-mobile {
    display: none;
  }
}
