.header-align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    min-height: 56px;
}

.cell-right {
    text-align: right;
}

.thead,
.header-align-right {
    background-color: #272727;
}

.distance-warning {
    font-weight: bold;
    color: #b03a2e;
}

.state-container {
    display: flex;
    align-items: center;
}

.state-container img {
    margin-right: 2px;
}
