table {
    width: 100%;
}

.cell-right {
    text-align: right;
}

.thead {
    background-color: #272727;
}

.distance-warning {
    font-weight: bold;
    color: #b03a2e;
}

.state-container {
    display: flex;
    align-items: center;
}

.state-container img {
    margin-right: 2px;
}

.badge-orange {
    color: #1c1c1c;
    background-color: #e95e03;
    margin-left: 4px;
    margin-right: 4px;
}

.mat-column-Name {
    /*flex: 0 0 40%;*/
    width: 40%;
    min-width: 200px;
}

.mat-column-State {
    /*flex: 0 0 15%;*/
    width: 15%;
    min-width: 150px;
}

.mat-column-RescueShip {
    /*flex: 0 0 35%;*/
    width: 30%;
    min-width: 150px;
}

.mat-column-DistanceFromStarLS {
    /*flex: 0 0 10%;*/
    width: 15%;
    min-width: 150px;
}
