<div class="table-container">
    <div class="table" style="max-height: 40vh">
        <table mat-table [dataSource]="stations" matSort matSortActive="DistanceFromStarLS" matSortDirection="asc"
            matSortDisableClear>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row" class="nowrap">
                    <app-station-name [station]="row"></app-station-name>
                </td>
            </ng-container>
            <ng-container matColumnDef="State">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
                <td mat-cell *matCellDef="let row"  class="nowrap">
                    <div [ngSwitch]="row.State" class="state-container">
                        <ng-container *ngSwitchCase="'Normal'">
                            <img src="assets/station-operational.png" style="width: 16px; height: 16px;"
                                matTooltip="Operational" /> Operational
                        </ng-container>
                        <ng-container *ngSwitchCase="'UnderAttack'">
                            <img src="assets/station-attacked.png" style="width: 16px; height: 16px;"
                                matTooltip="Under attack" /> Under attack
                        </ng-container>
                        <ng-container *ngSwitchCase="'Damaged'">
                            <img src="assets/station-damaged.png" style="width: 16px; height: 16px;"
                                matTooltip="Damaged" /> Damaged
                        </ng-container>
                        <ng-container *ngSwitchCase="'UnderRepairs'">
                            <img src="assets/station-repair.png" style="width: 16px; height: 16px;"
                                matTooltip="Under repair" /> Under repair
                        </ng-container>
                        <ng-container *ngSwitchCase="'Abandoned'">
                            <img src="assets/station-abandoned.png" style="width: 16px; height: 16px;"
                                matTooltip="Abandoned" /> Abandoned
                        </ng-container>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="DistanceFromStarLS">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance</th>
                <td mat-cell *matCellDef="let row" class="cell-right">
                    <span [ngClass]="{ 'distance-warning': row.DistanceFromStarLS >= 50000 }">
                        {{ row.DistanceFromStarLS | number: '1.0-0' }} Ls
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="stationsDisplayedColumns; sticky: true" class="thead">
            </tr>
            <tr mat-row *matRowDef="let row; columns: stationsDisplayedColumns;"></tr>
        </table>
        <div *ngIf="stations.data.length === 0" class="empty-table">
            No records found.
        </div>
    </div>
</div>