.cell-right {
    text-align: right;
}

.thead {
    background-color: #272727;
}

.distance-warning {
    font-weight: bold;
    color: #b03a2e;
}

.state-container {
    display: flex;
    align-items: center;
}

.state-container img {
    margin-right: 2px;
}