<div class="overwatch-content-container">
    <div class="overwatch-content-large">
        <div class="title" *ngIf="maelstrom">
            Titan {{ maelstrom.Name }}
        </div>
        <div class="content-box" *ngIf="maelstrom">
            <div class="content-flex">
                <div class="information">
                    <table>
                        <tbody>
                            <tr>
                                <td><b>System</b></td>
                                <td>
                                    <a [routerLink]="['/system', maelstrom.SystemAddress]">
                                        {{ maelstrom.SystemName }}
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="maelstrom.DamageResistance?.Name">
                                <td><b>Damage resistance</b></td>
                                <td>{{ maelstrom.DamageResistance.Name }}</td>
                            </tr>
                            @if (maelstrom.TotalProgress == 1) {
                                <tr>
                                    <td><b>Caustic level</b></td>
                                    <td>{{ maelstrom.CausticLevel }}</td>
                                </tr>
                            }
                            <tr>
                                <td><b>Hearts</b></td>
                                <td>
                                    {{ maelstrom.HeartsRemaining }} / 8
                                </td>
                            </tr>
                            <tr>
                                <td><b>Current heart progress</b></td>
                                <td>
                                    {{ maelstrom.HeartProgress | percent:'1.4-4' }}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Total progress</b></td>
                                <td>
                                    {{ maelstrom.TotalProgress | percent:'1.4-4' }}
                                </td>
                            </tr>
                            <tr *ngIf="maelstrom.CompletionTimeEstimate">
                                <td><b>Estimated time until completion</b></td>
                                <td>
                                    {{ maelstrom.CompletionTimeEstimate | dateAgo }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <mat-tab-group>
                <mat-tab label="Affected systems">
                    <ng-template matTabContent>
                        <app-system-list [systems]="maelstrom.Systems"
                            [optionalColumns]="['DistanceToMaelstrom']"></app-system-list>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Timeline">
                    <div class="hide-on-small-mobile chart-overflow-container">
                        <div class="chart-container" [style.width.px]="canvasWidth" [style.height.px]="canvasWidth / 2">
                            <canvas baseChart class="chart" [data]="chartConfig.data" [options]="chartConfig.options"
                                [type]="chartConfig.type"></canvas>
                        </div>
                    </div>
                    <div class="hide-not-on-small-mobile">
                        This chart requires a higher resolution.
                    </div>
                </mat-tab>
                <mat-tab label="Alert predictions">
                    <ng-template matTabContent>
                        <p>
                            Below you find the predicted alerts for the next cycle.
                            <br>
                            The prediction is based on the current state and progress of all systems.
                            Assuming the prediction is correct, the highlighted systems should be in alert in the next
                            upcoming cycle.<br>
                            If a highlighted system has all its attacking systems cleared or is skipped for any other
                            reason next not highlighted system should be used instead.
                        </p>
                        <app-alert-prediction [alertPrediction]="maelstrom.AlertPrediction"></app-alert-prediction>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>