table.system-information {
    min-width: 300px;
    width: 25%;
    margin-right: 8px;
}

.thead {
    background-color: #272727;
}

.table {
    min-height: 300px;
}

.maelstrom-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
}

@media (max-width: 600px) {
    .hide-on-small-mobile {
        display: none;
    }
}

@media (min-width: 601px) {
    .hide-not-on-small-mobile {
      display: none;
    }
  }