table.system-information {
    min-width: 300px;
    width: 25%;
    margin-right: 8px;
}

@media (max-width: 600px) {
    .hide-on-small-mobile {
        display: none;
    }
}

@media (min-width: 601px) {
    .hide-not-on-small-mobile {
        display: none;
    }
}

.chart-overflow-container {
    overflow-x: auto;
    padding: 0;
    margin: 0;

    .chart-container {
        display: block;
        overflow-x: auto;
        padding: 0;
        margin: 0;
        position: relative;
    }
}