table.system-information {
    min-width: 300px;
    width: 25%;
    margin-right: 8px;
}

.thead {
    background-color: #272727;
}

.table {
    min-height: 300px;
}

.maelstrom-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
}