<div class="overwatch-content-container">
    <div class="overwatch-content-large">
        <div class="title" *ngIf="maelstrom">
            Titan {{ maelstrom.Name }}
        </div>
        <div class="content-box" *ngIf="maelstrom">
            <div class="content-flex">
                <table class="system-information">
                    <tbody>
                        <tr>
                            <td><b>System</b></td>
                            <td>
                                <span class="clickable" [routerLink]="['/system', maelstrom.SystemAddress]">
                                    {{ maelstrom.SystemName }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Hearts</b></td>
                            <td>
                                {{ maelstrom.HeartsRemaining }} / 8
                            </td>
                        </tr>
                        <tr>
                            <td><b>Current heart progress</b></td>
                            <td>
                                {{ maelstrom.HeartProgress | percent:'1.4-4' }}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Total Progress</b></td>
                            <td>
                                {{ maelstrom.TotalProgress | percent:'1.4-4' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <mat-tab-group>
                <mat-tab label="Affected systems">
                    <ng-template matTabContent>
                        <app-system-list [systems]="maelstrom.Systems"
                            [optionalColumns]="['DistanceToMaelstrom']"></app-system-list>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Timeline">
                    <div class="maelstrom-summary-container hide-on-small-mobile chart-overflow-container">
                        <div class="chart-container" [style.width.px]="canvasWidth" [style.height.px]="canvasWidth / 2">
                            <canvas baseChart class="chart" [data]="chartConfig.data" [options]="chartConfig.options"
                                [type]="chartConfig.type"></canvas>
                        </div>
                    </div>
                    <div class="hide-not-on-small-mobile">
                        This chart requires a higher resolution.
                    </div>
                </mat-tab>
                <mat-tab label="Alert predictions">
                    <ng-template matTabContent>
                        <p>
                            Below you find the predicted alerts for the next cycle.
                            <br>
                            If nothing changes and the prediction is correct it means that the highlighted systems will
                            be in alert in the next upcoming cycle.<br>
                            If a highlighted system has all its attacking systems cleared or is skipped for any other
                            reason it usually means the next not highlighted system is used instead.
                        </p>
                        <app-alert-prediction [alertPrediction]="maelstrom.AlertPrediction"></app-alert-prediction>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>