.container-cycle {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;

    select {
        width: 250px;
        border-radius: 4px;
        margin: 4px;
        background-color: rgb(57, 57, 57, 0.5);
        padding: 4px;
        color: #ccc;
    }

    option {
        background-color: rgba(21, 21, 21, 0.5);
        padding: 4px;
        color: #ccc;
    }
}

.cycle-list {
    display: flex;
    align-items: center;

    .btn {
        width: 24px;
    }
}

.clickable {
    cursor: pointer;
}