<div #container class="map-container" style="height: calc(100vh - 80px);">
</div>
<div class="container-cycle">
    <span>
        Thargoid Cycle
    </span>
    <select [(ngModel)]="date" (ngModelChange)="dateChanged()" [disabled]="dateSelectionDisabled">
        <option *ngFor="let thargoidCycle of thargoidCycles" [value]="thargoidCycle.Cycle" [selected]="date == thargoidCycle.Cycle">
            {{ thargoidCycle.Start | date }}- {{ thargoidCycle.End | date }}
        </option>
    </select>
</div>