<div class="station-name-container">
    <div [ngSwitch]="station.Type">
        <img *ngSwitchCase="'Bernal'" class="station-icon" src="assets/ocellus.svg" />
        <img *ngSwitchCase="'Orbis'" class="station-icon" src="assets/orbis.svg" matTooltip="Orbis station" />
        <img *ngSwitchCase="'Coriolis'" class="station-icon" src="assets/coriolis.svg" matTooltip="Coriolis station" />
        <img *ngSwitchCase="'CraterOutpost'" class="station-icon" src="assets/surface_port.svg"
            matTooltip="Planetary Port" />
        <img *ngSwitchCase="'MegaShip'" class="station-icon" src="assets/mega_ship.svg" matTooltip="Mega-Ship" />
        <img *ngSwitchCase="'Outpost'" class="station-icon" src="assets/outpost.svg" matTooltip="Outpost" />
        <img *ngSwitchCase="'CraterPort'" class="station-icon" src="assets/surface_port.svg"
            matTooltip="Planetary Port" />
        <img *ngSwitchCase="'Ocellus'" class="station-icon" src="assets/ocellus.svg" matTooltip="Ocellus Station" />
        <img *ngSwitchCase="'AsteroidBase'" class="station-icon" src="assets/asteroid_station.svg"
            matTooltip="Asteroid Base" />
    </div>
    {{ station.Name }}
    <span class="badge badge-orange" *ngIf="station.LandingPads.Large > 0" matTooltip="Large landing pad available">
        Large
    </span>
    <span class="badge badge-orange" *ngIf="station.LandingPads.Large === 0 && station.LandingPads.Medium > 0"
        matTooltip="Medium landing pad available">
        Medium
    </span>
    <span *ngIf="station.Gravity" class="badge badge-gray" matTooltip="Planet gravity">
        {{ (station.Gravity / 10) | number:'0.0-2' }} G
    </span>
    <span *ngIf="station.OdysseyOnly" class="badge badge-blue" matTooltip="Odyssey required">
        Odyssey
    </span>
</div>