<div class="station-name">
    <div [ngSwitch]="station.Type">
        <img *ngSwitchCase="'Bernal'" class="station-icon" src="assets/ocellus.svg" />
        <img *ngSwitchCase="'Orbis'" class="station-icon" src="assets/orbis.svg" matTooltip="Orbis station" />
        <img *ngSwitchCase="'Coriolis'" class="station-icon" src="assets/coriolis.svg" matTooltip="Coriolis station" />
        <img *ngSwitchCase="'CraterOutpost'" class="station-icon" src="assets/surface_port.svg"
            matTooltip="Planetary Por" />
        <img *ngSwitchCase="'MegaShip'" class="station-icon" src="assets/mega_ship.svg" matTooltip="Mega-Ship" />
        <img *ngSwitchCase="'Outpost'" class="station-icon" src="assets/outpost.svg" matTooltip="Outpost" />
        <img *ngSwitchCase="'CraterPort'" class="station-icon" src="assets/surface_port.svg"
            matTooltip="Planetary Port" />
        <img *ngSwitchCase="'Ocellus'" class="station-icon" src="assets/ocellus.svg" matTooltip="Ocellus Station" />
        <img *ngSwitchCase="'AsteroidBase'" class="station-icon" src="assets/asteroid_station.svg"
            matTooltip="Asteroid Base" />
    </div>
    {{ station.Name }}
</div>