<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            API
        </div>
        <div class="content-box">
            Work in progress, no documentation available at this point.<br>
            Check out the following REST endpoints:
            <br>
            <br>
            <b>Overview</b>
            <br>
            <a href="/api/v1/overwatch/overview" target="_blank">GET /api/v1/overwatch/overview</a>
            <br>
            <br>
            <b>List systems</b>
            <br>
            <a href="/api/v1/overwatch/systems" target="_blank">GET /api/v1/overwatch/systems</a>
            <br>
            <br>
            <b>Get system by system address</b>
            <br>
            <a href="/api/v1/overwatch/system/11667144254841" target="_blank">GET /api/v1/overwatch/system/11667144254841</a>
        </div>
    </div>
</div>