<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            API
        </div>
        <div class="content-box">
            <b>This page is replaced in favour of Swagger and will be removed soon.</b>
            <br>
            <a href="/api/swagger" class="link">DCoH API Swagger</a>
            <br>
            <hr>
            <br>
            Work in progress, no documentation available at this point.<br>
            Check out the following REST endpoints.
            <br>
            Please note that you need to add <b></b> at the end of the endpoint
            if you are calling these endpoints in your browser. This is to bypass the site service worker in your
            browser.
            <br>
            <br>
            <div class="subtitle">
                Overview
            </div>
            <a href="/api/v1/overwatch/overview" target="_blank"  class="link">
                GET /api/v1/overwatch/overview
            </a>
            <br>
            <br>
            <div class="subtitle">
                List systems
            </div>
            <a href="/api/v1/overwatch/systems" target="_blank"  class="link">
                GET /api/v1/overwatch/systems
            </a>
            <br>
            <br>
            <div class="subtitle">
                Get system details by system address
            </div>
            <a href="/api/v1/overwatch/system/1694104537435" target="_blank"  class="link"> 
                GET /api/v1/overwatch/system/1694104537435
            </a>
            <br>
            <br>
            <div class="subtitle">
                List titans
            </div>
            <a href="/api/v1/overwatch/titans" target="_blank"  class="link">
                GET /api/v1/overwatch/titans
            </a>
            <br>
            <br>
            <div class="subtitle">
                List weekly cycles
            </div>
            <a href="/api/v1/overwatch/thargoidcycles" target="_blank"  class="link">
                GET /api/v1/overwatch/thargoidcycles
            </a>
            <br>
            <br>
            <div class="subtitle">
                List system states by weekly cycle (start date)
            </div>
            <div>
                Invalid dates or dates in the future return the current cycle.
            </div>
            <a href="/api/v1/overwatch/systems/2023-01-05" target="_blank"  class="link">
                GET /api/v1/overwatch/systems/2023-01-05
            </a>
            <br>
            <br>
            <div class="subtitle">
                Alert predictions for the next cycle
            </div>
            <a href="/api/v1/overwatch/alertpredictions" target="_blank"  class="link">
                GET /api/v1/overwatch/alertpredictions
            </a>
        </div>
    </div>
</div>