<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            API
        </div>
        <div class="content-box">
            Work in progress, no documentation available at this point.<br>
            Check out the following REST endpoints:
            <br>
            <br>
            <b>Overview</b>
            <br>
            <a href="/api/v1/overwatch/overview?ngsw-bypass=true" target="_blank">
                GET /api/v1/overwatch/overview
            </a>
            <br>
            <br>
            <b>List systems</b>
            <br>
            <a href="/api/v1/overwatch/systems?ngsw-bypass=true" target="_blank">
                GET /api/v1/overwatch/systems
            </a>
            <br>
            <br>
            <b>Get system by system address</b>
            <br>
            <a href="/api/v1/overwatch/system/1694104537435?ngsw-bypass=true" target="_blank">
                GET /api/v1/overwatch/system/1694104537435
            </a>
            <br>
            <br>
            <b>List maelstroms</b>
            <br>
            <a href="/api/v1/overwatch/maelstroms?ngsw-bypass=true" target="_blank">
                GET /api/v1/overwatch/maelstroms
            </a>
        </div>
    </div>
</div>