<div class="content-container">
    <svg viewBox="0 0 60 200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="svg-left">
        <path d="M 77.63 22.763 L 77.63 77.61 L -22.786 77.61 L 77.63 22.763 Z"
            style="transform-box: fill-box; transform-origin: 50% 50%;" class="svg"
            transform="matrix(0, -1, 1, 0, 0, 0)" />
        <path d="M 47.508 130.609 L 47.508 185.456 L -52.908 185.456 L 47.508 130.609 Z"
            style="transform-origin: 154.451px 34.037px;" transform="matrix(0, 1, 1, 0, -251.024119, 272.912547)"
            class="svg" />
        <rect x="53" y="0.0" width="8" height="200" class="svg" fill="blue" stroke="green" />
    </svg>
    <div class="cycle-changes-container">
        <div class="subtitle">{{ title }}</div>
        <ng-container *ngIf="cycleChange">
            <b>Humanity</b>
            <div class="numbers">
                <div class="thargoid-alert">
                    <span>
                        Alerts defended:
                    </span>
                    <span>
                        {{ cycleChange.AlertsDefended }}
                    </span>
                </div>
                <div class="thargoid-invasion" *ngIf="cycleChange.InvasionsDefended">
                    <span>
                        Invasions defended:
                    </span>
                    <span>
                        {{ cycleChange.InvasionsDefended }}
                    </span>
                </div>
                <div class="thargoid-controlled" *ngIf="cycleChange.ControlsDefended">
                    <span>
                        Controls cleared:
                    </span>
                    <span>
                        {{ cycleChange.ControlsDefended }}
                    </span>
                </div>
            </div>
            <br>
            <b>Thargoids</b>
            <div class="numbers">
                <div class="thargoid-invasion" *ngIf="cycleChange.ThargoidInvasionStarted">
                    <span>
                        {{ future ? 'Start invasion' : 'Systems invaded' }}:
                    </span>
                    <span>
                        {{ cycleChange.ThargoidInvasionStarted }}
                    </span>
                </div>
                <div class="thargoid-controlled">
                    <span>
                        {{ future ? 'Gain control' : 'Control gained' }}:
                    </span>
                    <span>
                        {{ cycleChange.ThargoidsGained }}
                    </span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!cycleChange">
            <b>Humanity</b>
            <ngx-skeleton-loader count="2" appearance="line" pulse="true"></ngx-skeleton-loader>
            <br>
            <b>Thargoids</b>
            <ngx-skeleton-loader count="1" appearance="line" pulse="true"></ngx-skeleton-loader>
        </ng-container>
    </div>
    <svg viewBox="0 0 60 200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="svg-right">
        <rect x="-2" width="8.5" height="200" class="svg" />
        <polygon points="-67.72 72.666 32.282 127.281 132.28 72.666" class="svg"
            style="transform-box: fill-box; transform-origin: 50% 50%;" transform="matrix(0, -1, 1, 0, 0, 0)" />
    </svg>
</div>