<div class="overwatch-content-container">
    <div class="overwatch-content-large">
        <div class="title">
            Titans
        </div>
        <div class="content-box systems-container">
            <div class="table-container">
                <div class="table">
                    <table mat-table [dataSource]="dataSource" matSort matSortActive="Name" matSortDirection="asc"
                        matSortDisableClear>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                            <td mat-cell *matCellDef="let row" class="nowrap">
                                <a [routerLink]="['/titan', row.Name]">
                                    {{ row.Name }}
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SystemName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>System</th>
                            <td mat-cell *matCellDef="let row" class="nowrap">
                                <a [routerLink]="['/system', row.SystemAddress]">
                                    {{ row.SystemName }}
                                </a>
                                <fa-icon [icon]="faClipboard" matTooltip="Copy to clipboard" class="clickable"
                                    (click)="copySystemName(row)"></fa-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="State">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
                            <td mat-cell *matCellDef="let row" class="nowrap">
                                <div [ngClass]="{
                                    'titan-active': row.State == 'Active',
                                    'titan-meltdown': row.State == 'Meltdown',
                                    'titan-destroyed': row.State == 'Destroyed',
                                }">
                                    {{ row.State }}
                                </div>
                                @if (row.State === 'Destroyed' && row.CausticLevel) {
                                    <div class="small">
                                        Caustic level: {{ row.CausticLevel }}
                                    </div>
                                }
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="DamageResistance">
                            <th mat-header-cell *matHeaderCellDef>Damage resistance</th>
                            <td mat-cell *matCellDef="let row" class="nowrap">
                                {{ row.DamageResistance?.Name }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="HeartsRemaining">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hearts remaining</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="number-cell">
                                    <div>{{ row.HeartsRemaining }}</div>
                                    <div></div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="HeartProgress">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress current heart</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="number-cell">
                                    <div>{{ row.HeartProgress | percent:'1.2-2' }}</div>
                                    <div></div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TotalProgress">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total progress</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="number-cell">
                                    <div>{{ row.TotalProgress | percent:'1.2-2' }}</div>
                                    <div></div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SystemsInAlert">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="number-cell">
                                    <div>{{ row.SystemsInAlert }}</div>
                                    <div></div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SystemsInInvasion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Invasion</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="number-cell">
                                    <div>{{ row.SystemsInInvasion }}</div>
                                    <div></div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SystemsThargoidControlled">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Systems controlled</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="number-cell">
                                    <div>{{ row.SystemsThargoidControlled }}</div>
                                    <div></div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SystemsInRecovery">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Systems in recovery</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="number-cell">
                                    <div>{{ row.SystemsInRecovery }}</div>
                                    <div></div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="thead"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div *ngIf="dataSource.data.length === 0" class="empty-table">
                        No records found.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>