<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100" *ngIf="loading">
  <img src="assets/EDLoader1.svg" style="width: 100px; height: 100px;" />
</div>
<div style="min-height: 100vh">
  <mat-toolbar class="top-toolbar">
    <div class="top-bar-left">
      <div style="margin-right: 32px">
        <button mat-icon-button aria-label="Menu" (click)="toggleMenu()">
          <mat-icon
            [ngClass]="{'menu-open': appService.isMenuOpen, 'menu-closed': !appService.isMenuOpen}">menu</mat-icon>
        </button>
      </div>
      <div class="header clickable" routerLink="/">
        <img src="assets/DCoH_Overwatch.png" style="height: 75px; padding-right: 10px;">
      </div>
    </div>
    <div class="user">
      <span *ngIf="appService.user">
        CMDR {{ appService.user.Commander }}<br>
        <div *ngIf="appService.user.HasActiveToken && appService.user.JournalLastImport">
          Last journal event:
          {{ appService.user.JournalLastImport | timeago:true }}
        </div>
        <div *ngIf="!appService.user.HasActiveToken">
          Journal access expired.
          <a class="link clickable" (click)="appService.oAuthStart()">Refresh</a>
        </div>
      </span>
      <span *ngIf="!appService.user" class="hide-on-small-mobile">
        <button mat-raised-button color="primary" routerLink="contribute">Contribute</button>
      </span>
      <div *ngIf="appService.user" class="hide-on-small-mobile">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['commander', 'api-keys']">
            <mat-icon>key</mat-icon>
            <span>API keys</span>
          </button>
          <button mat-menu-item (click)="appService.oAuthStart()" [disabled]="appService.user.HasActiveToken">
            <mat-icon>refresh</mat-icon>
            <span>Refresh journal import</span>
          </button>
          <button mat-menu-item (click)="appService.logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container style="min-height: calc(100vh - 80px)">
    <mat-sidenav #sidenav mode="side" [opened]="appService.isMenuOpen" (openedChange)="menuOpenChanged($event)"
      [mode]="sideNavMode" class="side-nav">
      <div class="side-nav-title" style="margin-top: 0px;">The War</div>
      <div routerLink="/" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faSolarSystem" size="xl"></fa-icon>
        </div>
        <div>Systems</div>
      </div>
      <div routerLink="titans" class="clickable">
        <div class="side-nav-icon">
          <img src="assets/galaxy_m.svg" style="width: 20px; height: 20px; fill: #fff" />
        </div>
        <div>Titans</div>
      </div>
      <div routerLink="operations" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faHandshake" size="xl"></fa-icon>
        </div>
        <div>Active operations</div>
      </div>
      <div routerLink="stats" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faChartSimple" size="xl"></fa-icon>
        </div>
        <div>Stats</div>
      </div>
      <div class="hide-on-mobile" routerLink="edmap/current" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faMapLocation" size="xl"></fa-icon>
        </div>
        <div>Map (current situation)</div>
      </div>
      <div class="side-nav-title">Community</div>
      <div routerLink="contribute" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faHandsHoldingDiamond" size="xl"></fa-icon>
        </div>
        <div>Contribute</div>
      </div>
      <div routerLink="join-the-fight" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faUsers" size="xl"></fa-icon>
        </div>
        <div>Join the fight!</div>
      </div>
      <div class="side-nav-title">Past &amp; Future</div>
      <div routerLink="systems-cycle" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faTimelineArrow" size="xl"></fa-icon>
        </div>
        <div>Past Cycles</div>
      </div>
      <div routerLink="alert-predictions" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faCrystalBall" size="xl"></fa-icon>
        </div>
        <div>Alert Predictions</div>
      </div>
      <div class="hide-on-mobile" routerLink="edmap/historical" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faMapLocation" size="xl"></fa-icon>
        </div>
        <div>Map (historical)</div>
      </div>
      <ng-container *ngIf="appService.user">
        <div class="side-nav-title">My Commander</div>
        <div routerLink="my-efforts" class="clickable">
          <div class="side-nav-icon">
            <fa-icon [icon]="faSwords" size="xl"></fa-icon>
          </div>
          <div>War contributions</div>
        </div>
        <div routerLink="commander/fleet-carrier-cargo" class="clickable">
          <div class="side-nav-icon">
            <fa-icon [icon]="faContainerStorage" size="xl"></fa-icon>
          </div>
          <div>Fleet carrier cargo</div>
        </div>
      </ng-container>
      <div class="side-nav-title">Boring stuff</div>
      <div routerLink="consumer-api" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faChartNetwork" size="xl"></fa-icon>
        </div>
        <div>API</div>
      </div>
      <div routerLink="about" class="clickable">
        <div class="side-nav-icon">
          <fa-icon [icon]="faHandWave" size="xl"></fa-icon>
        </div>
        <div>About</div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <div class="footer">
        <!-- https://forums.frontier.co.uk/threads/elite-dangerous-media-usage-rules.510879/ -->
        DCoH Overwatch was created using assets and imagery from Elite Dangerous, with the permission of Frontier
        Developments plc, for non-commercial purposes.<br>
        It is not endorsed by nor reflects the views or opinions of Frontier
        Developments and no employee of Frontier Developments was involved in the making of it.
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>