.top-toolbar {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e95e03;
    flex-wrap: wrap;
}

.top-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;

    .header-text {
        font-size: 24pt;
    }

    .header-main {
        display: flex;
    }

    .small {
        font-size: 8pt;
    }
}

.footer {
    font-size: 8pt;
    bottom: 0px;
    text-align: center;
    margin-top: 12px;
}

.user {
    font-size: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav {
    padding: 12px;
    min-width: 150px;

    div, a {
        display: flex;
        align-items: center;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    div.clickable:hover, a:hover {
        color: #fbd7b4;
    }
}

.side-nav-icon {
    margin-right: 4px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
}

.side-nav-title {
    margin-top: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #f07b05;
}

/*
.side-nav-title::before,
.side-nav-title::after {
    content: '';
    border-bottom: 1px solid #fbd7b4;
}

.side-nav-title:not(:empty)::before {
    margin-right: .25em;
    width: 12px;
}
*/

.side-nav-title::after {
    content: '';
    border-bottom: 1px solid #f07b05;
}

.side-nav-title:not(:empty)::after {
    margin-left: .25em;
    flex: 1;
}