<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100" *ngIf="loading">
  <img src="assets/EDLoader1.svg" style="width: 100px; height: 100px;" />
</div>
<div style="min-height: 100vh">
  <mat-toolbar class="top-toolbar">
    <div class="top-bar-left">
      <div style="margin-right: 32px">
        <button mat-icon-button aria-label="Menu" (click)="toggleMenu()">
          <mat-icon
            [ngClass]="{'menu-open': appService.isMenuOpen, 'menu-closed': !appService.isMenuOpen}">menu</mat-icon>
        </button>
      </div>
      <div class="header clickable" routerLink="/">
        <img src="assets/DCoH_Overwatch.png" style="height: 75px; padding-right: 10px;">
      </div>
    </div>
    <div class="user">
      <span *ngIf="appService.user">
        CMDR {{ appService.user.Commander }}<br>
        <div *ngIf="appService.user.HasActiveToken && appService.user.JournalLastImport">
          Last journal event:
          {{ appService.user.JournalLastImport | timeago:true }}
        </div>
        <div *ngIf="!appService.user.HasActiveToken">
          Journal access expired.
          <a class="link clickable" (click)="appService.oAuthStart()">Refresh</a>
        </div>
      </span>
      <span *ngIf="!appService.user" class="hide-on-small-mobile">
        <button mat-raised-button color="primary" routerLink="contribute">Contribute</button>
      </span>
      <div *ngIf="appService.user" class="hide-on-small-mobile">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['commander', 'api-keys']">
            <mat-icon>key</mat-icon>
            <span>API keys</span>
          </button>
          <button mat-menu-item (click)="appService.oAuthStart()" [disabled]="appService.user.HasActiveToken">
            <mat-icon>refresh</mat-icon>
            <span>Refresh journal import</span>
          </button>
          <button mat-menu-item (click)="appService.logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container style="min-height: calc(100vh - 80px)">
    <mat-sidenav #sidenav mode="side" [opened]="appService.isMenuOpen" class="side-nav">
      <div>
        <div routerLink="/" class="clickable">Overview</div>
      </div>
      <div>
        <div routerLink="maelstroms" class="clickable">Maelstroms</div>
      </div>
      <div>
        <div routerLink="systems" class="clickable">Systems</div>
      </div>
      <div *ngIf="appService.user">
        <div routerLink="my-efforts" class="clickable">My war contributions</div>
      </div>
      <div>
        <div routerLink="contribute" class="clickable">Contribute</div>
      </div>
      <hr>
      <div class="hide-on-mobile">
        <div>
          <div routerLink="edmap/current" class="clickable">Map (current situation)</div>
        </div>
        <div>
          <div routerLink="edmap/historical" class="clickable">Map (historical)</div>
        </div>
        <hr>
      </div>
      <div>
        <div routerLink="consumer-api" class="clickable">API</div>
      </div>
      <div>
        <div routerLink="faq" class="clickable">FAQ</div>
      </div>
      <div>
        <div routerLink="about" class="clickable">About</div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <div class="footer">
        <!-- https://forums.frontier.co.uk/threads/elite-dangerous-media-usage-rules.510879/ -->
        DCoH Overwatch was created using assets and imagery from Elite Dangerous, with the permission of Frontier
        Developments plc, for non-commercial purposes.<br>
        It is not endorsed by nor reflects the views or opinions of Frontier
        Developments and no employee of Frontier Developments was involved in the making of it.
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>