.thead {
    background-color: #272727;
}

.progress-completed {
    width: 12px;
    color: green;
    margin-left: 8px;
}

.progress-cell {
    display: flex;
    align-items: center;
}

.small {
    font-size: 80%;
    font-style: italic;
}

.state-change {
    display: none;
    font-size: 80%;
    font-style: italic;
}

.header-align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    min-height: 56px;
}

.cell-right {
    text-align: right;
}


@media (min-width: 992px) {
    .state-change {
        display: flex;
    }
}

.table {
    min-height: 300px;
}

.options-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.operations-column {
    display: flex;
    align-items: center;
}

.operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-right: 2px;
    background-color: #272727;
    border-radius: 4px;
}

.operation-combat {
    color: #e95e03;
}

.operation-rescue {
    color: rgb(0, 185, 0);
}

.operation-logistics {
    color: rgb(36, 160, 255);
}

.operation-general {
    color: white;
}