<div class="table-container">
    <div class="table" [ngStyle]="{ 'height.vh': maxHeight }">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="FactionOperations" matSortDirection="desc" matSortDisableClear>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>System Name</th>
                <td mat-cell *matCellDef="let row">
                    <span class="clickable" [routerLink]="['/system', row.SystemAddress]">
                        {{ row.Name }}
                    </span>
                    <fa-icon [icon]="faClipboard" matTooltip="Copy to clipboard" class="clickable"
                        (click)="copySystemName(row)"></fa-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="ThargoidLevel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Thargoid Level</th>
                <td mat-cell *matCellDef="let row">
                    <app-thargoid-level [thargoidLevel]="row.ThargoidLevel"></app-thargoid-level>
                </td>
            </ng-container>
            <ng-container matColumnDef="Starports">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Starports</th>
                <td mat-cell *matCellDef="let row">
                    <app-system-starport-status [starSystem]="row"></app-system-starport-status>
                </td>
            </ng-container>
            <ng-container matColumnDef="Maelstrom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Maelstrom</th>
                <td mat-cell *matCellDef="let row">
                    <app-maelstrom-name [maelstrom]="row.Maelstrom"></app-maelstrom-name>
                </td>
            </ng-container>
            <ng-container matColumnDef="Progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
                <td mat-cell *matCellDef="let row">
                    <div class="progress-cell" *ngIf="row.Progress">
                        <mat-progress-bar mode="determinate" [value]="row.Progress" [matTooltip]="row.Progress + '%'"
                            color="red"></mat-progress-bar>
                        <div class="progress-completed">
                            <fa-icon [icon]="faCircleCheck" *ngIf="row.Progress == 100"
                                matTooltip="Completed"></fa-icon>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="EffortFocus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Community Focus</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.EffortFocus | percent }}
                </td>
            </ng-container>
            <ng-container matColumnDef="FactionOperations">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Faction Operations</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.FactionOperations | number }}
                    <span *ngFor="let specialFactionOperation of row.SpecialFactionOperations">
                        <img src="assets/badges/{{ specialFactionOperation.Tag }}.png" style="width: 24px; height: 24px" matTooltip="{{ specialFactionOperation.Name }} operation" />
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="thead"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="dataSource.data.length === 0" class="empty-table">
            No records found.
        </div>
    </div>
</div>