.thead {
    background-color: #272727;
}

.progress-completed {
    width: 12px;
    color: green;
    margin-left: 8px;
}

.progress-cell {
    display: flex;
    align-items: center;
}

.small {
    font-size: 80%;
    font-style: italic;
}

.state-change {
    display: flex;
    font-size: 80%;
    font-style: italic;
}