<div class="overwatch-content-container">
    <div class="container-cycle">
        <mat-form-field appearance="fill" style="width: 400px">
            <mat-label>Thargoid Cycle</mat-label>
            <mat-select [(ngModel)]="date" (ngModelChange)="dateChanged()">
                <mat-option *ngFor="let thargoidCycle of thargoidCycles" [value]="thargoidCycle.Cycle">
                    {{ thargoidCycle.Start | date }}- {{ thargoidCycle.End | date }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <iframe [src]="url" style="width: 100%; height: calc(100vh - 80px - 90px)"></iframe>
</div>