<div class="overwatch-content-container">
    <div class="overwatch-content-small">
        <div class="title">
            Get involved
        </div>
        <div class="content-box">
            If you like to help humanity in their efforts to stop this massive invasion you have a number of options
            depending on your playstyle.
            <br><br>
            <div class="subtitle">
                Coordination: Defense Council of Humanity (DCoH)
            </div>
            <div class="grp-content">
                <div class="grp-description">
                    The purpose of the Defense Council of Humanity (DCoH) is to address the defence of the bubble as a
                    unified front and
                    to work together to better deploy our individual factions to aid one another in this dangerous time.
                    Only by working together will assure us of our victory.
                </div>
                <div class="grp-logo">
                    <img src="assets/badges/DCOH.png" style="width: 64px; height: 64px;">
                </div>
            </div>
            <div class="btn-container">
                <a mat-raised-button color="primary" href="https://discord.gg/wFk8RcxXbT" target="_blank">
                    Join the DCoH on Discord <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                </a>
            </div>
            <hr>
            <div class="subtitle">
                Combat: Anti-Xeno Initiative (AXI)
            </div>
            <div class="grp-content">
                <div class="grp-description">
                    The Anti-Xeno Initiative is an Elite:Dangerous player-group dedicated to protecting humanity from
                    the
                    Thargoid threat.
                    We defend systems targeted by the vile xenos, study their technology and behavior, and perfect our
                    battle tactics.
                    Whether you seek to save the galaxy, kill some aliens, conduct research, or hone your skills, you
                    will
                    find help here.
                </div>
                <div class="grp-logo">
                    <img src="assets/badges/AXIN.png" style="width: 64px; height: 64px;">
                </div>
            </div>
            <div class="btn-container">
                <a mat-raised-button color="primary" href="https://discord.gg/bqmDxdm" target="_blank">
                    Join the AXI on Discord <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                </a>
            </div>
            <hr>
            <div class="subtitle">
                Logistics: Operation Ida (IDA)
            </div>
            <div class="grp-content">
                <div class="grp-description">
                    Operation Ida is a non-partisan group dedicated to repairing damaged stations.
                </div>
                <div class="grp-logo">
                    <img src="assets/badges/IDA1.png" style="width: 64px; height: 64px;">
                </div>
            </div>
            <div class="btn-container">
                <a mat-raised-button color="primary" href="https://www.operationida.com/discord" target="_blank">
                    Join IDA on Discord <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                </a>
            </div>
            <hr>
            <div class="subtitle">
                Rescue: Post Disaster Evacuation Service (PDES)
            </div>
            <div class="grp-content">
                <div class="grp-description">
                    The Post Disaster Evacuation Service is a squadron dedicated to rescues from burning stations
                    whenever there are some.
                    Rescues provide a non combative way of helping to defeat Thargoid attacks for those who don't wish
                    to fight the aliens,
                    or to provide a mixture of activities for everyone else. Supplies and support are just as important
                    as soldiers in a war.
                </div>
                <div class="grp-logo">
                    <img src="assets/badges/PDES.png" style="width: 64px; height: 64px;">
                </div>
            </div>
            <div class="btn-container">
                <a mat-raised-button color="primary" href="https://discord.com/invite/rWvYeea" target="_blank">
                    Join the PDES on Discord <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                </a>
            </div>
            <hr>
            <div class="subtitle">
                Operation: ReForge Aegis
            </div>
            <div class="grp-content">
                <div class="grp-description">
                    A multi-faction coalition dedicated to Xeno Research and Defense, advocating for a new Aegis to lead
                    a united humanity.
                    Ranging from explorers, haulers, researchers, a few mad scientists, and some hardened ax pilots. We
                    seek truth in the galaxy, while working to be the funnest group of CMDRs with hearts of gold. We
                    work to
                    maintain a respectful, welcoming, and engaging place for all to participate and enjoy the galaxy
                    together.
                </div>
                <div class="grp-logo">
                    <img src="assets/badges/AGIS.png" style="width: 64px; height: 64px;">
                </div>
            </div>
            <div class="btn-container">
                <a mat-raised-button color="primary" href="https://discord.gg/7QEQ4MKWwF" target="_blank">
                    Join the ReForge Aegis on Discord <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                </a>
            </div>
            <br>
        </div>
    </div>
</div>