<div class="overwatch-content-container">
    <div class="overwatch-content-large">
        <div class="title">
            My Contributions
        </div>
        <div class="content-box">
            <div class="chart-container">
                <div style="width: 90vh; height: 30vh;">
                    <canvas baseChart class="chart" [data]="chartConfig.data" [options]="chartConfig.options"
                        [type]="chartConfig.type" width="300" height="100"></canvas>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" matSort matSortActive="Date" matSortDirection="desc"
                matSortDisableClear>
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.Date | date }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="SystemName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>System</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="clickable" [routerLink]="['/system', row.SystemAddress]">
                            {{ row.SystemName }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.Type }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.Amount }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="thead"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource.data.length === 0" class="empty-table">
                No records found.
            </div>
            <mat-paginator [pageSizeOptions]="[25, 50, 100]" [pageSize]="pageSize" [showFirstLastButtons]="true"
                aria-label="Select page"></mat-paginator>
            <div class="options-bottom">
                <span (click)="exportToCsv()" class="clickable">
                    <fa-icon [icon]="faFileCsv"></fa-icon>
                    Export as CSV
                </span>
            </div>
        </div>
    </div>
</div>