<div class="overwatch-content-container">
    <div class="overwatch-content-large">
        <div class="title">
            My Contributions
        </div>
        <div class="content-box" *ngIf="data">
            <div style="height: 24px;"></div>
            <div class="cycle-selection">
                <div>
                    <fa-icon [icon]="faAngleLeft" size="2xl" class="clickable" (click)="previousCycle()"></fa-icon>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Cycle</mat-label>
                    <mat-select [(ngModel)]="date" (ngModelChange)="dateChanged()">
                        <mat-option *ngFor="let thargoidCycle of data.ThargoidCycles" [value]="thargoidCycle.Cycle">
                            {{ thargoidCycle.Start | date: 'MMM dd' : '0' }} -
                            {{ thargoidCycle.End | date: 'MMM dd yyyy' : '0' }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <fa-icon [icon]="faAngleRight" size="2xl" class="clickable" (click)="nextCycle()"></fa-icon>
                </div>
            </div>
            <div *ngIf="cycleData">
                <app-my-efforts-cycle [cycleWarEffort]="cycleData"></app-my-efforts-cycle>
            </div>
        </div>
    </div>
</div>